{% extends "header.html" %}
{% load static %}

{% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <title>UI-UX</title>

    <!-- Bootstrap core CSS -->
    {% comment %} <link href="{% static 'assets/new-web-css/bootstrap.min.css' %}" rel="stylesheet"> {% endcomment %}


    <!-- Additional CSS Files -->
    {% comment %} <link rel="stylesheet" href="{% static 'assets/new-web-css/fontawesome.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'assets/new-ui-css/templatemo-seo-dream.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'assets/new-web-css/animated.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'assets/new-web-css/owl.css' %}"> {% endcomment %}


    {% comment %} <style>
      @media only screen and (min-width: 1567px){
        .img-uii{
          margin-right:-503px !important;
        }
      }
    </style> {% endcomment %}


{% endblock head %}

{% block body_about %}


<style>
  @media screen and (max-width: 480px){
    .h1-res h1{
      font-size:40px !important;
  
    }
  
    .section-heading-ui h2{
      font-size:30px !important;
    }
    .section-heading-ui h4{
      font-size:30px !important;
    }
  
    .section-heading-ui p{
      text-align:justify !important;
    }
  
    .digi-4 img{
  
      margin-top:60px !important;
    }
  
    .left-image-digi img{
      width:75% !important;
    }
    .btn-res a{
      font-size:16px !important;
    }
  
    .flex-res{
      display:flex !important;
    }

    .flex-width{
      width:50%;
    }

    .service-item-ui .icon-ui{
      margin-left:auto !important;
      margin-right:auto !important
    }

    .service-item-ui h4{
      text-align:center;
    }
    .service-item-ui p{
      text-align:center;
    }
    
  }
  
  @media screen and (max-width: 380px){
    .h1-res h1{
      font-size:36px !important;
  
    }
  
    .section-heading-ui h2{
      font-size:26px !important;
      text-align:left !important;
    }
    .section-heading-ui h4{
      font-size:26px !important;
      text-align:left !important;
  
    }
  
 
  
    {% comment %} .digi-h2 h2{
      font-size:26px !important;
    } {% endcomment %}
  
    .res-button{
      margin-top: 30px;
      margin-left: -20px;
    }


    .our-services-ui .section-heading-ui{
      margin-left:0px !important;
      margin-right:2px !important;
      text-align:left;

    }
  
    
  }
</style>

    

    <!-- Additional CSS Files -->
   
    
    
   
    





  <!-- ***** Preloader Start ***** -->
 
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
 
  <!-- ***** Header Area End ***** -->

  {% comment %} <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container" >
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  
                 
                 
                  <h5>UI & UX Services</h5>
                    <h2 style="color:#262350 !important; font-family:poppins !important;">UI UX Services <br> To <span>Enhance</span> your <span>Business</span>  </h2>
                    <p>Zaco assists brands in navigating all aspects of the digital landscape. Your viewers are our top priority, and our basic requirement is complete client satisfaction.</p>
                   
                  <div class="col-lg-12">
                    <div class="buttons">
                     <a href="/contact"> <button class="btn-hover color-7">Contact Us</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'assets/new-ui-img/ui ux.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}







      
<section id="dia-banner" class="dia-banner-section position-relative">
  {% comment %} <div class="banner-side-img banner-img1 position-absolute"><img
          src="{% static 'assets/img/d-agency/banner/ns2.png' %}" alt=""></div> {% endcomment %}
  <div class="banner-side-img banner-img2 position-absolute" id="img-uii" style="width:97% !important; right:-395px !important;">  <img src="{% static 'assets/new-ui-img/ui ux.png' %}" alt="">
  </div>
  <div class="container">
      <div class="dia-banner-content dia-headline pera-content h1-res">
          <h1 class="cd-headline clip is-full-width" style="font-size:65px;">UI UX Services <br> To <span>Enhance</span> your <span>Business</span> 
              

              
          </h1>
          <h5 class="bannerhead">Zaco assists brands in navigating all aspects of the digital landscape. Your viewers are our top priority, and our basic requirement is complete client satisfaction.
          </h5>
          <div class="dia-banner-btn d-flex">
             
                  {% comment %} <a href="https://www.youtube.com/watch?v=kxPCFljwJws"
                      class="lightbox-image overlay-box"> {% endcomment %}
                      {% comment %} <i class="fa fa-play"></i></a> {% endcomment %}
             
              <div class="dia-abt-btn text-center d-inline-block btn-res">
                  <a href="/contact">Contact Us</a>
              </div>
          </div>
      </div>
  </div>
</section>










  
  <div id="services" class="services-ui section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading-ui  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4 style="font-size:40px; font-family:poppins !important; font-weight:900;">Why Zaco For <span style="color:#ff6700;">UI & UX</span> Services</h4>
            {% comment %} <img src="{% static 'assets/new-tech-img/heading-line-dec.png' %}" alt=""> {% endcomment %}
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item-ui first-service-ui s1-ui">
            <div class="icon-ui"></div>
            <h4>Boosts <br> Branding
            </h4>
            <p>Adding value to your products, services, and UI/UX design strengthens your brand's identity and credibility. It aids in the development of positive customer relationships and the instillation of loyalty..</p>
           
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item-ui second-service-ui s1-ui">
            <div class="icon-ui"></div>
            <h4>Improves Customer satisfaction.</h4>
            <p>A well-designed UI/UX provides smooth navigation and ease of use. Your customers will appreciate quick responses, which will increase their satisfaction with your site, products, and brand..</p>
          
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item-ui third-service-ui p1-ui">
            <div class="icon-ui"></div>
            <h4>Reduces <br> Cost</h4>
            <p>By utilizing an optimized UI/UX design in the development process, you can address usability issues ahead of time and avoid additional re-design costs.

              .</p>
           
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item-ui fourth-service-ui p1-ui">
            <div class="icon-ui"></div>
            <h4>Increases <br> Productivity</h4>
            <p>A streamlined website with an intuitive UI/UX design can increase your ROI by ensuring employees' high productivity rates by creating a smooth workflow.

            </p>
            
          </div>
        </div>
      </div>
    </div>
  </div>



{% comment %} 

  <div id="features" class="features section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="features-content">
            <div class="row">
              <div class="col-lg-3">
                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="first-number number">
                    <h6>01</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Boosts Branding</h4>
                  <div class="line-dec"></div>
                  <p>Adding value to your products, services, and UI/UX design strengthens your brand's identity and credibility. It aids in the development of positive customer relationships and the instillation of loyalty.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item second-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                  <div class="second-number number">
                    <h6>02</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Improves Customer satisfaction.</h4>
                  <div class="line-dec"></div>
                  <p>A well-designed UI/UX provides smooth navigation and ease of use. Your customers will appreciate quick responses, which will increase their satisfaction with your site, products, and brand.</p>
                  <br><br>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item third-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="third-number number">
                    <h6>03</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Reduces Cost</h4>
                  <div class="line-dec"></div>
                  <p>By utilizing an optimized UI/UX design in the development process, you can address usability issues ahead of time and avoid additional re-design costs.</p>
                  <br><br>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item fourth-feature last-features-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                  <div class="fourth-number number">
                    <h6>04</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Increases Productivity</h4>
                  <div class="line-dec"></div>
                  <p>A streamlined website with an intuitive UI/UX design can increase your ROI by ensuring employees' high productivity rates by creating a smooth workflow.</p>
                  <br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="skills-content">
            <div class="row">
              <div class="col-lg-3">
                <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                 
                </div>
              </div>
              <div class="col-lg-3">
                <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                 
                </div>
              </div>
              <div class="col-lg-3">
                <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                 
                </div>
              </div>
              <div class="col-lg-3">
                <div class="skill-item last-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}

  <div id="about-ui" class="about-us-ui section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 my-id">
          <div class="left-image-ui wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
            <img src="{% static 'assets/new-ui-img/creative.png' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="section-heading-ui">
            <h6 style="color:#ff6700 !important;">About Us</h6>
            <h2 style="font-family:poppins !important;"><span>Zaco</span> offers expert UI UX <span>design</span> services. </span></h2>
          </div>
          <div class="row flex-res">
            <div class="col-lg-4 col-sm-4 flex-width">
              <div class="about-item-ui">
                <h4 style="font-weight:900 !important;">100+</h4>
                <h6>projects finished</h6>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4 flex-width">
              <div class="about-item-ui">
                <h4 style="font-weight:900 !important;">50+</h4>
                <h6>happy clients</h6>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="about-item-ui">
                
              </div>
            </div>
          </div>
          <p>Zaco offers expert graphic design services
            At Zaco, we specialize in developing low-cost, design-led products that deliver results. We provide low-cost, high-quality branding solutions that will help you stand out in your market as a forward-thinking businessperson. With years of experience, we offer a comprehensive range of graphic design services, including logo design, brochure design, brochure layout and many more.</p>
    
        </div>
      </div>
    </div>
  </div>



  <div id="services" class="our-services-ui section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading-ui wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h6 style="color:#ff6700 !important;">Our Services</h6>
            <h2 style="font-family:poppins !important;" ><span>Discover</span> What We Do &amp;  Offer To Our <span>Clients</span></h2>
          </div>
        </div>
      </div>
    </div>

  {% comment %} <section class="faeture-col-par">
    <div class="container">
        <div class="feature-col">
            <h3>Custom Web Design & Development</h3>
            <img src="{% static 'assets/new-ui-img/ux-design.png' %}" class="img-responsive" alt="service" />
            <p>We offer specialised and contemporary website solutions. Considering your needs, our imaginative designers provide a plethora of clever UI and UX</p>
            <!--                </div>feature-col-->
        </div>
        <!--feature-col-->
        <div class="feature-col">
            <h3>Discover, Explore the Product</h3>
            <img src="images/home-faeture-img/service_img2.png" class="img-responsive" alt="service" />
            <h4>Discover, Explore &amp; understanding the product</h4>
            <!--                </div>feature-col-->
        </div>
        <!--feature-col-->
        <div class="feature-col">
            <h3>Discover, Explore the Product</h3>
            <img src="images/home-faeture-img/service_img3.png" class="img-responsive" alt="service" />
            <h4>Discover, Explore &amp; understanding the product</h4>
            <!--                </div>feature-col-->
        </div>
        <!--feature-col-->
        <div class="feature-col">
            <h3>Discover, Explore the Product</h3>
            <img src="images/home-faeture-img/service_img4.png" class="img-responsive" alt="service" />
            <h4>Discover, Explore &amp; understanding the product</h4>
            <!--                </div>feature-col-->
        </div>
        <!--feature-col-->
        <div class="clear"></div>
    </div>
</section>

 {% endcomment %}
 <section id="saas_two_service" class="saas_two_service_section">
  <div class="container">
      <div class="saas_two_section_title saas2-headline text-center">
         
      </div>
      <!-- /section title -->
      <div class="service_content">
          <div class="row justify-content-md-center">
              <div class="col-lg-4 col-md-6  wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="service_content_box relative-position">
                      <div class="service_icon_box relative-position">
                          <div class="upper_icon">
                            <img src="{% static 'assets/new-ui-img/website-design (2).png' %}" alt="">
                          </div>
                          <div class="lower_icon">
                              <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"  xml:space="preserve"> <g> <g> <path d="M256,0c-74.439,0-135,60.561-135,135s60.561,135,135,135s135-60.561,135-135S330.439,0,256,0z"/> </g> </g> <g> <g> <path d="M423.966,358.195C387.006,320.667,338.009,300,286,300h-60c-52.008,0-101.006,20.667-137.966,58.195 C51.255,395.539,31,444.833,31,497c0,8.284,6.716,15,15,15h420c8.284,0,15-6.716,15-15 C481,444.833,460.745,395.539,423.966,358.195z"/> </g> </g> </svg>   
                          </div>
                      </div>
                      <div class="service_text_box saas2-headline pera-content">
                          <h3>UI UX Design Based App</h3>
                          <p>We guarantee that our design-based applications will have an error-free user interface. Our designers make excellent recommendations for app designs that have a pleasing appearance, are simple to use, and increase satisfaction.</p>
                      </div>
                  </div>
              </div>
              <!-- /service-content -->
              <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                  <div class="service_content_box relative-position">
                      <div class="service_icon_box relative-position">
                          <div class="upper_icon">
                            <img src="{% static 'assets/new-ui-img/wireframe.png' %}" alt="">                          </div>
                         
                      </div>
                      <div class="service_text_box saas2-headline pera-content">
                          <h3>Graphic Design & Corporate Branding</h3>
                          <p>The finest corporate graphic designs are created by our talented designers. By displaying a visual representation of the brand, the design elements make the organisational ideas clear..</p>
                          <br>
                      </div>
                  </div>
              </div>


              <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                  <div class="service_content_box relative-position">
                      <div class="service_icon_box relative-position">
                          <div class="upper_icon">
                            <img src="{% static 'assets/new-ui-img/research.png' %}" alt="">                          </div>
                         
                      </div>
                      <div class="service_text_box saas2-headline pera-content">
                          <h3>User Research</h3>
                          <p>An essential step in the user experience creation process is defining the objectives and intentions of your users.

                            Most user research techniques can be used both offline and online, in conjunction with other services for user interface design.
                          </p>

                      </div>
                  </div>
              </div>
              <!-- /service-content -->
              <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                  <div class="service_content_box relative-position">
                      <div class="service_icon_box relative-position">
                          <div class="upper_icon">
                            <img src="{% static 'assets/new-ui-img/order.png' %}" alt="">                              </div>
                          </div>
                          <div class="service_text_box saas2-headline pera-content">
                              <h3>Product Design</h3>
                              <p>We design products that can meet industry-specific specifications. A product design includes all UI/UX-related elements that provide a creative, genuine, and distinct experience to strengthen brand loyalty.</p>
                          </div>
                      </div>
                  </div>
                  <!-- /service-content -->
                  <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                      <div class="service_content_box relative-position">
                          <div class="service_icon_box relative-position">
                              <div class="upper_icon">
                                <img src="{% static 'assets/new-ui-img/sketching.png' %}" alt="">                             </div>
                          
                         </div>
                         <div class="service_text_box saas2-headline pera-content">
                          <h3>Wireframing</h3>
                          <p>Our design team provides a product overview. These wireframes can be used by teams to create efficient prototypes and navigate the website's structure without being distracted by other aspects.</p>
                          <br>
                      </div>
                  </div>
              </div>
              <!-- /service-content -->
              <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                  <div class="service_content_box relative-position">
                      <div class="service_icon_box relative-position">
                          <div class="upper_icon">
                            <img src="{% static 'assets/new-ui-img/workflow.png' %}" alt="">
                              </div>
                             
                          </div>
                          <div class="service_text_box saas2-headline pera-content">
                              <h3>Customise your workflow</h3>
                              <p>Choose from hundreds of plugins and integrations that allow you to do everything from animating interactions to automating tasks.</p>
                              <br><br>
                          </div>
                      </div>
                  </div>
                  <!-- /service-content -->
                  {% comment %} <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                      <div class="service_content_box relative-position">
                          <div class="service_icon_box relative-position">
                              <div class="upper_icon">
                                <img src="{% static 'assets/new-ui-img/ux-design.png' %}" alt="">
                                </div>
                             
                          </div>
                          <div class="service_text_box saas2-headline pera-content">
                              <h3>Super security</h3>
                              <p>Whether you have a team of 2 or 200, the Mailboxes keep everyone the same page. Leverage automation to move fast.</p>
                          </div>
                      </div>
                  </div> {% endcomment %}
                  <!-- /service-content -->
              </div>
          </div>
          <div class="service_read_more text-center">
              <a href="#"> </a>
          </div>
      </div>
  </section>
<!-- End of Service section
  
  <!-- Start of newslatter section
        ============================================= -->
     
<section id="dia-newslatter" class="dia-newslatter-section position-relative">
  <div class="container">
      <div class="dia-newslatter-content">
          <div class="row">
              <div class="col-lg-8 offset-lg-2">
                  <div class="dia-newslatter-text dia-headline pera-content" id="cnt">
                      <h3>Looking For UI & UX Services?</h3>
                      <h5>Let's talk about your idea and create something amazing.</h5>
                      <div class="nws-button text-capitalize" id="my-button">
                        <a href="tel:+91-22-69288800" class="btn-gap"> <button class="hover-btn res-button" type="submit" value="Submit"> Call Us</button></a>
                        <a href="https://wa.me/917710051543" target="_blank"> <button class="hover-btn res-button" type="submit" value="Submit"> Chat With Us</button></a>
                    </div>
                  </div>
              </div>
              {% comment %} <div class="col-lg-6">
                  <div class="dia-newslatter-form  relative-position">
                      <form action="#" method="post">
                          {% csrf_token %}
                          <input id="newsmail" name="email" type="email" placeholder="Enter your email address"> 
                        
                          
                      
                      <span id="newsmailMsg"></span>
                  </div>
              </div> {% endcomment %}
          </div>
      </div>
  </div>
</section>
      <!-- End of newslatter section
          ============================================= -->



  
  


  <!--Scripts -->
  <script src="{% static 'assets/new-web-js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/new-web-js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/new-web-js/owl-carousel.js' %}"></script>
  <script src="{% static 'assets/new-web-js/animation.js' %}"></script>
  <script src="{% static 'assets/new-web-js/imagesloaded.js' %}"></script>
  <script src="{% static 'assets/new-ui-css/custom.js' %}"></script>





 
 
  
  
 
 
{% endblock body_about %}