{% extends "header.html" %}
{% load static %}





  {% block head %}

  

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6766028831.js" crossorigin="anonymous"></script>

    <title>Web Development</title>

    <!-- Bootstrap core CSS -->
    {% comment %} <link href="{% static 'assets/new-web-css/bootstrap.min.css' %}" rel="stylesheet"> {% endcomment %}


    <!-- Additional CSS Files -->

    {% comment %} <link rel="stylesheet" href="{% static 'assets/new-web-css/fontawesome.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'assets/new-web-css/animated.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'assets/new-web-css/owl.css' %}"> {% endcomment %}
   
    {% comment %} <link rel="stylesheet" href="{% static 'assets/new-web-css/flaticon.css' %}">  {% endcomment %}


{% comment %} <a href="https://www.flaticon.com/free-icons/design" title="design icons">Design icons created by LAFS - Flaticon</a>
--> {% endcomment %}
{% endblock head %}

{% block body_about %}

<style>


</style>

 

<body>

  <!-- ***** Preloader Start ***** -->
 
  <!-- ***** Preloader End ***** -->

  <!-- Pre-header Starts -->
 
  <!-- Pre-header End -->

  <!-- ***** Header Area Start ***** -->
 
  <!-- ***** Header Area End ***** -->

  {% comment %} <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-10">
                    <h6 style="color:#ff6700 !important;">Web Development Services</h6>
                    <h2 style="font-family:poppins !important;">We Help To Improve Your Online <span style="color:#ff6700;">Presence.</span> </h2>
                    <p>We are here to deliver you finest web development services with clear results and development process at a <b style="color:#282650 !important">minimal cost.</b> </p>
                  </div>
                  <div class="col-lg-12">
                   
                   <div class="it-nw-btn text-center">
                      <a class="d-flex justify-content-center align-items-center" href="#">Contact Us <i class="fas fa-arrow-right"></i></a>
                    </div> 

                    <div class="buttons">
                      <button class="btn-hover color-7"><a href="/contact">Contact Us</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'assets/new-web-img/web dev.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}




    
  <section id="dia-banner" class="dia-banner-section position-relative">
    {% comment %} <div class="banner-side-img banner-img1 position-absolute"><img
            src="{% static 'assets/img/d-agency/banner/ns2.png' %}" alt=""></div> {% endcomment %}
    <div class="banner-side-img banner-img2 position-absolute img-web" style="width:90% !important;">                  <img src="{% static 'assets/new-web-img/web dev.png' %}" alt="">

    </div>
    <div class="container">
        <div class="dia-banner-content dia-headline pera-content">
            <h1 class="cd-headline clip is-full-width h1-res" style="font-size:65px;">We Help <br> To Improve <br> Your Online <span style="color:#ff6700;">Presence.</span>
                
  
                
            </h1>
            <h5 class="bannerhead">We are here to deliver you finest web development services with clear results and development process at a <b style="color:#282650 !important">minimal cost.</b>
            </h5>
            <div class="dia-banner-btn d-flex">
               
                    {% comment %} <a href="https://www.youtube.com/watch?v=kxPCFljwJws"
                        class="lightbox-image overlay-box"> {% endcomment %}
                        {% comment %} <i class="fa fa-play"></i></a> {% endcomment %}
               
                <div class="dia-abt-btn text-center d-inline-block">
                    <a href="/contact">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
  </section>









  <div id="about" class="about section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="about-left-image  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'assets/new-web-img/webab.gif' %}" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="about-right-content">
                <div class="section-heading">
                  <h6 style="color:#ff6700 !important;"></h6>
                  <h4 style="font-family:poppins !important; font-size:35px;">Why Are We the Most Reliable <span>Web designing &amp; Development Service</span> Provider?</h4>
                  <div class="line-dec"></div>
                </div>
                <p>Zaco specializes in providing web designing and development services that are functional and aesthetically pleasing. We use the latest technology stack to create websites that are fast and easy to use. We also offer complete transparency, so you know what you're getting into. <br><br>
                  Zaco is the ideal choice for your company's needs because we have experience managing web development projects of different sizes and degrees of complexity. For a better user experience, we offer you a variety of services, such as web consulting services and many more.
                </p>
               </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h6 style="color:#ff6700 !important; font-weight:600;">Our Services</h6>
            <h4 style="font-family:poppins !important; font-size:38px;">What Our Agency <span>Provides</span></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="menu">
                    <div class="first-thumb active">
                      <div class="thumb">
                        <span class="icon"><img src="{% static 'assets/new-web-img/customization.png' %}" alt=""></span>
                        Custom Website Development 
                      </div>
                    </div>
                    <div>
                      <div class="thumb">                 
                        <span class="icon"><img src="{% static 'assets/new-web-img/icons8-eco.png' %}" alt=""></span>
                       Ecommerce <br> Development
                      </div>
                    </div>
                    <div>
                      <div class="thumb">                 
                        <span class="icon"><img src="{% static 'assets/new-web-img/website (1).png' %}" alt=""></span>
                       Web App Development
                      </div>
                    </div>
                    
                    <div>
                     
                      <div class="thumb">                 
                        <span class="icon"><img src="{% static 'assets/new-web-img/service-icon-04.png' %}" alt=""></span>
                        Cms <br> Development 
                      </div>
                    </div>
                   
                  </div>
                </div> 
                <div class="col-lg-12">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4 style="color:#232670 !important;">Custom Website Development</h4>
                                <p>Custom websites from Zaco are available to suit your customers' needs. We provide clients with distinctive, creative, and conversion-focused websites.

                                 
                                  We use proven technology and fine-tuned business procedures to deliver best-in-class custom web.
                                </p>
                               
                                
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'assets/new-web-img/WebDesign.png' %}" alt="">
                              </div>
                            </div>

                             {% comment %} table start {% endcomment %}
                             {% comment %} <div class="it-nw-btn text-center">
                              <a class="d-flex justify-content-center align-items-center" href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                            </div> {% endcomment %}

                        {% comment %} table end {% endcomment %}
                          </div>

                           
                        </div>
                      </div>
                      <div>

                       
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4 style="color:#232670 !important;">Ecommerce Development</h4>
                                <p>Zaco has many years of experience in providing eCommerce website development services. We create eCommerce platforms that increase conversions while having a fantastic appearance and feel.</p>
                               
                              
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'assets/new-web-img/eee.png' %}" alt="">
                              </div>
                            </div>
                          </div>
                          
                          {% comment %} table start {% endcomment %}
                          <div class="it-nw-btn text-center">
                            <a class="d-flex justify-content-center align-items-center" href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                          </div>


                          {% comment %} table end {% endcomment %}

                        </div>
                      </div>
                    </li>
                   
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4 style="color:#232670 !important;">Web App Development</h4>
                                <p>Web applications made by Zaco feature simple navigation, strong information architecture, user-friendly visual cues, and a design that prioritizes action.</p>
                               
                              
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'assets/new-web-img/web-application.png' %}" alt="">
                              </div>
                            </div>
                          </div>
                          
                          {% comment %} table start {% endcomment %}
                          <div class="it-nw-btn text-center">
                            <a class="d-flex justify-content-center align-items-center" href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                          </div>


                          {% comment %} table end {% endcomment %}

                        </div>
                      </div>
                    </li>
                   
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4 style="color:#232670 !important;">CMS Development</h4>
                                <p>End users can manage or even access information, material, and assets of the company with the help of Zaco's CMS Development.</p>
                               
                              
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'assets/new-web-img/www-app.png' %}" alt="">
                              </div>
                            </div>
                          </div>


                          {% comment %} table start {% endcomment %}
                         
                         <!-- HTML !-->
                         <div class="it-nw-btn text-center">
                          <a class="d-flex justify-content-center align-items-center" href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                        </div>



                          {% comment %} table end {% endcomment %}
                        </div>
                      </div>
                    </li>
                    {% comment %} <li>
                      <div>
                        <div class="thumb" id="tumb-text">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4 style="color:#232670 !important;">Content Management System</h4>
                                <p>End users can manage or even access information, material, and assets of the company with the help of Zaco's CMS Development Service.</p>
                               
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'assets/new-web-img/sleek-dashboard.png' %}" alt="">
                              </div>
                            </div>
                          </div>

                          {% comment %} table start {% endcomment %}
                          {% comment %} <div class="it-nw-btn text-center">
                            <a class="d-flex justify-content-center align-items-center" href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                          </div> {% endcomment %}

                          {% comment %} table end {% endcomment %}
                        </div>
                      </div>
                    </li> 
                   
                  </ul>
                </div>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
 

  <section class="pr3-work-process">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="pr3-title-area text-center wow fadeInUp">
                    <span>How we work</span>
                    <div class="pr3-headline pr3-headline-res sec-res">
                        <h3 style="font-family:poppins !important;">Utilize our reliable web development process to ensure the success of your project</h3>
                        <p>Our web development team offers a transparent web development approach since we are aware that even the most difficult projects require precise attention to every last detail. We've completed a lot of projects, therefore we are aware of the requirements for a successful web-based software development process.</p>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="pr3-work-content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pr3-work-column wow fadeInUp" data-wow-delay="0.1s">
                        <div class="pr3-wk-column-top">
                            <div class="wk-column-left">
                                <div class="icon-wrapper">
                                  <i class="flaticon-project-management"></i>
                                </div>
                            </div>
                            <div class="wk-column-right pr3-headline">
                                <h4>01<span>Step</span></h4>
                                <span>Design Mockup</span>
                            </div>
                        </div>
                        <div class="pr3-pera-txt">
                            <p>Setting the direction with our web development consultants</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pr3-work-column color-2 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="pr3-wk-column-top">
                            <div class="wk-column-left">
                                <div class="icon-wrapper">
                                    <i class="flaticon-conversation"></i>
                                </div>
                            </div>
                            <div class="wk-column-right pr3-headline">
                                <h4>02<span>Step</span></h4>
                                <span>Review With Client</span>
                            </div>
                        </div>
                        <div class="pr3-pera-txt">
                            <p>Defining your aspirations and ideas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pr3-work-column color-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="pr3-wk-column-top">
                            <div class="wk-column-left">
                                <div class="icon-wrapper">
                                    <i class="flaticon-web-development"></i>
                                </div>
                            </div>
                            <div class="wk-column-right pr3-headline">
                                <h4>03<span>Step</span></h4>
                                <span>Process The Change</span>
                            </div>
                        </div>
                        <div class="pr3-pera-txt">
                            <p>Process the changes in accordance with your requirements</p>
                        </div>
                    </div>
                </div>
              
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pr3-work-column color-4 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="pr3-wk-column-top">
                            <div class="wk-column-left">
                                <div class="icon-wrapper">
                                    <i class="flaticon-launching"></i>
                                </div>
                            </div>
                            <div class="wk-column-right pr3-headline">
                                <h4>04<span>Step</span></h4>
                                <span>Delivery</span>
                            </div>
                        </div>
                        <div class="pr3-pera-txt">
                            <p>Design of the final website will be showcased in front of the client</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="dia-newslatter" class="dia-newslatter-section position-relative">
  <div class="container">
      <div class="dia-newslatter-content">
          <div class="row">
              <div class="col-lg-8 offset-lg-2">
                  <div class="dia-newslatter-text dia-headline pera-content" id="cnt">
                      <h3>Looking For Web Development Services?</h3>
                      <h5>Let's talk about your idea and create something amazing.</h5>
                      <div class="nws-button text-capitalize" id="my-button">
                        <a href="tel:+91-22-69288800" class="btn-gap"> <button class="hover-btn res-button" type="submit" value="Submit"> call us</button></a>
                        <a href="https://wa.me/917710051543" target="_blank"> <button class="hover-btn res-button" type="submit" value="Submit"> chat with us</button></a>
                    </div>
                  </div>
              </div>
              {% comment %} <div class="col-lg-6">
                  <div class="dia-newslatter-form  relative-position">
                      <form action="#" method="post">
                          {% csrf_token %}
                          <input id="newsmail" name="email" type="email" placeholder="Enter your email address"> 
                        
                          
                      
                      <span id="newsmailMsg"></span>
                  </div>
              </div> {% endcomment %}
          </div>
      </div>
  </div>
</section>
      <!-- End of newslatter section
          ============================================= -->

 

 


  <!-- Scripts -->
  <script src="{% static 'assets/new-web-js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/new-web-js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/new-web-js/owl-carousel.js' %}"></script>
  <script src="{% static 'assets/new-web-js/animation.js' %}"></script>
  <script src="{% static 'assets/new-web-js/imagesloaded.js' %}"></script>
  <script src="{% static 'assets/new-web-js/custom.js' %}"></script>

</body>
{% endblock body_about %}