 {% extends "header.html" %}
{% load static %}





  {% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Custom Software Development</title>
<!--

Lava Landing Page

https://templatemo.com/tm-540-lava-landing-page

-->

    <!-- Additional CSS Files -->
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'assets/new-software-css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/new-software-css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/new-software-css/software1.css' %}">

    <link rel="stylesheet" href="{% static 'assets/new-software-css/owl-carousel.css' %}"> {% endcomment %}

    {% comment %} <link rel="stylesheet" href="{% static 'assets/new-software-css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/new-software-css/owl-carousel.css' %}"> {% endcomment %}



   

      



  
  {% comment %} @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i'); {% endcomment %}
  
 
  

{% endblock head %}

{% block body_about %}
  

<style>
 
</style>
   

<body>


    {% comment %} <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6 align-self-center">
                  <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="row">
                      <div class="col-lg-12">
                        <h6 style="color:#ff6700 !important;">Software Development Service</h6>
                        <h2 style="font-family:poppins !important;">We Deliver Custom Software <span>Solutions</span>.</span> </h2>
                        <p>Using our customized software development services, you can create scalable, innovative products. Improve throughput by utilizing the most recent advances in software delivery by our cross-functional, agile teams.</p>
                      </div>
                      <div class="col-lg-12">
                       
                         <div class="it-nw-btn text-center">
                          <a class="d-flex justify-content-center align-items-center" href="#">Contact Us <i class="fas fa-arrow-right"></i></a>
                        </div> 
    
                        <div class="buttons">
                          <button class="btn-hover color-7"><a href="/contact">Contact Us</a></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="{% static 'assets/new-software-img/custom software development.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> {% endcomment %}



          
<section id="dia-banner" class="dia-banner-section position-relative">
    {% comment %} <div class="banner-side-img banner-img1 position-absolute"><img
            src="{% static 'assets/img/d-agency/banner/ns2.png' %}" alt=""></div> {% endcomment %}
    <div class="banner-side-img banner-img2 position-absolute img-software" style="width:105% !important; right:-401px !important;"> <img src="{% static 'assets/new-software-img/custom software development.png' %}" alt="">
    </div>
    <div class="container">
        <div class="dia-banner-content dia-headline pera-content">
            <h1 class="cd-headline clip is-full-width" style="font-size:65px;">Our Custom Software <span>Solutions</span>.</span> 
                
  
                
            </h1>
            <h5 class="bannerhead">Using our customized software development services, you can create scalable, innovative products. Improve throughput by utilizing the most recent advances in software delivery by our cross-functional, agile teams.
            </h5>
            <div class="dia-banner-btn d-flex">
               
                    {% comment %} <a href="https://www.youtube.com/watch?v=kxPCFljwJws"
                        class="lightbox-image overlay-box"> {% endcomment %}
                        {% comment %} <i class="fa fa-play"></i></a> {% endcomment %}
               
                <div class="dia-abt-btn text-center d-inline-block">
                    <a href="/contact">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
  </section>






    <!-- ***** Welcome Area Start ***** -->
    {% comment %} <div class="welcome-area" id="welcome"> {% endcomment %}

        <!-- ***** Header Text Start ***** -->
        {% comment %} <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h5 style="color:#ff6700; margin-left:10px;">Software Development Service</h5>
                        <h1 style="font-family:poppins !important;">We Deliver Custom Software <span>Solutions</span>  </h1>
                        <p>Using our customized software development services, you can create scalable, innovative products. Improve throughput by utilizing the most recent advances in software delivery by our cross-functional, agile teams.</p> 
                           <div class="buttons">
                            <button class="btn-hover color-7">Contact Us</button>
                          </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- ***** Header Text End ***** -->
    {% comment %} </div> {% endcomment %}
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Big Item Start ***** -->
  


         
  
    <div id="services-soft" class="services-soft section">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="section-heading-soft  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                <h4 style="font-size:40px; font-family:poppins !important; font-weight:900;">We provide a <span> wide range</span> of services to meet your <span>business needs</span>. </h4>
                {% comment %} <img src="{% static 'assets/new-tech-img/heading-line-dec.png' %}" alt=""> {% endcomment %}
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="service-item-soft first-service-soft s1-soft" id="padding">
                <div class="icon-soft"></div>
                <h4>Software Consulting <br> Services
                </h4>
                <p>We identify your business requirements, conceptualize software, and assist you in getting the most out of its development. Before beginning the project, our team also assists you in selecting the right technology stack by reviewing the pros and cons of various technologies.</p>
               
              </div>
            </div>
            <div class="col-lg-4">
              <div class="service-item-soft second-service-soft s1-soft" id="m-s">
                <div class="icon-soft"></div>
                <h4>Software Integration <br> Services</h4>
                <p>To handle all of your implementation and software integration challenges, including architectural design, testing, and execution, our custom software developers employ industry-leading techniques.</p>             
              </div>
            </div>
            <div class="col-lg-4">
              <div class="service-item-soft third-service-soft s1-soft" id="p-p">
                <div class="icon-soft"></div>
                <h4> Software Product Development Services</h4>
                <p>We provide end-to-end product development services to your organisation, beginning with market research and business analysis and continuing with development, deployment, and post-launch maintenance.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="service-item-soft fourth-service-soft s1-soft" id="p-c">
                <div class="icon-soft"></div>
                <h4>Custom CRM Development Services.</h4>
                <p>CSS will collaborate with you to create a captivating design that enhances your company and keeps users interested on your app.</p>
              
              </div>
            </div>
            <div class="col-lg-4">
              <div class="service-item-soft fifth-service-soft s1-soft">
                <div class="icon-soft"></div>
                <h4> Enterprise Software Development Services</h4>
                <p>We assist organisations in achieving long-term success by re-engineering enterprise software development solutions of varying complexity levels. We help your business infrastructure by providing scalable software that improves key aspects of your operation.</p>
              
              </div>
            </div>
            <div class="col-lg-4">
              <div class="service-item-soft sixth-service-soft p1-soft">
                <div class="icon-soft"></div>
                <h4>Software Testing <br> Services</h4>
                <p>Zaco conducts research while performing software testing to let the stakeholders know how well the software service or product is made. In order for businesses to understand the risks associated with software installation, Zaco also offers an impartial, unbiased evaluation of the programme.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    
    <!-- ***** Features Big Item End ***** -->

    {% comment %} new section {% endcomment %}
    <section class="new-section-soft">
        <div class="new-div1-soft" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
            <h1 style="font-family:poppins !important; font-weight: 900;">
                Why Choose <span>Zaco</span> For Software Development <span>Services</span> </h1>
            <p>We enable businesses, including start-ups, SMEs, and Fortune 500 companies, to leverage our expertise and skills to get relief from their short and long-term software development needs, thanks to our many years of experience in providing custom software solutions.
                We recognize your requirements and turn them into tangible deliverables with the utmost business skills.
            </p>
           
        </div>
        <div class="new-div2-soft"   data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
            <img src="{% static 'assets/new-software-img/c-software.png' %}" alt="">
        </div>
    </section>

    {% comment %} new section {% endcomment %}


    <div class="left-image-decor"></div>

    <!-- ***** Features Big Item Start ***** -->
    <section class="section-soft" id="promotion-soft">
        <div class="container">
            <div class="row">
                <div class="left-image-soft col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="{% static 'assets/new-software-img/blob.jpg' %}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="right-text-soft offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                    <ul>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                            <img src="assets/images/about-icon-01.png" alt="">
                            <div class="text-soft">
                                <h4>Convenient to use</h4>
                                <p>Our unique software is created with your target market in mind. Our staff makes sure that the programme allows quick access to the needed data. The software is very simple to use and straightforward.
                                </p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
                            <img src="assets/images/about-icon-02.png" alt="">
                            <div class="text-soft">
                                <h4>Dedicated Team </h4>
                                <p>For the implementation of each project, we assign a dedicated team. A project manager, software developers, a UI designer, and testers are the usual members of this team. From the beginning of the conversation through the completion of the project, our project manager will accompany you.</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
                            <img src="assets/images/about-icon-03.png" alt="">
                            <div class="text-soft">
                                <h4>Suitable with your present system</h4>
                                <p>Our software is compatible with the client's existing digital system, which we integrate. The two systems can cooperate in this manner. It reduces duplication and makes information management simpler..</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section> 
    <!-- ***** Features Big Item End ***** -->

  
    <!-- ***** Testimonials Ends ***** -->


    {% comment %} <section class="masonary-section">
   <div class="container-masonary">
    <div class="box-m">
        <div class="content-m">
            <img src="{% static 'assets/new-software-img/design-64.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, laboriosam?</p>
        </div>
    </div>

    <div class="box-m">
        <div class="content-m">
            <img src="{% static 'assets/new-software-img/design-64.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, laboriosam?</p>
        </div>
    </div>


    <div class="box-m">
        <div class="content-m">
            <img src="{% static 'assets/new-software-img/design-64.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, laboriosam?</p>
        </div>
    </div>

    <div class="box-m">
        <div class="content-m">
            <img src="{% static 'assets/new-software-img/design-64.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, laboriosam?</p>
        </div>
    </div>


    <div class="box-m">
        <div class="content-m">
            <img src="{% static 'assets/new-software-img/design-64.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, laboriosam?</p>
        </div>
    </div>


    <div class="box-m">
        <div class="content-m">
            <img src="{% static 'assets/new-software-img/design-64.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, laboriosam?</p>
        </div>
    </div>


    <div class="box-m">
        <div class="content-m">
            <img src="{% static 'assets/new-software-img/design-64.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, laboriosam?</p>
        </div>
    </div>



   </div>

</section> {% endcomment %}


<div class="container" id="container-id">
    <h1 id="h1-tag" style="font-family:poppins !important; font-weight:900;">Custom <span>Software</span> Solutions for a wide range of <span>industries</span>.</h1>
    {% comment %} <h6>We deliver end-to-end custom software services to businesses in a variety of industries in order to develop innovative and cost-effective custom software solutions.</h6> {% endcomment %}
    </div>

<section id="sa-team-inner" class="sa-team-inner-section inner-page-padding">
    <div class="container">
        <div class="sa-team-=inner-contenb">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="sa-team-inner-inner-box">
                        <div class="str-team-img-text position-relative">
                            <div class="str-team-img">
                                <img src="{% static 'assets/new-software-img/education (1).png' %}" alt="">
                            </div>
                            <div class="str-team-text text-center str-headline pera-content">
                                <h4>Education</h4>
                                
                               <ul>
                                <li> Virtual classroom assistants;</li>
                                <li> Analytics for learning;</li>
                        
                                {% comment %} <li> Management of learning systems</li> {% endcomment %}
                               
                               </ul>
                                {% comment %} <p>As a app web crawler to expertiy, I help to do organi
                                    iozat top of creature.
                                </p> {% endcomment %}
                                {% comment %} <div class="str-social-team">
                                    <a href="#"><i class="fab fa-facebook-f "></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="sa-team-inner-inner-box">
                        <div class="str-team-img-text position-relative">
                            <div class="str-team-img">
                                <img src="{% static 'assets/new-software-img/logi (1).png' %}" alt="">
                            </div>
                            <div class="str-team-text text-center str-headline pera-content">
                                <h4>Logistics </h4>
                                <ul>
                                    <li> Fleet administration;</li>
                                    <li> Human resource administration;</li>
                            
                                    {% comment %} <li> Management of learning systems</li> {% endcomment %}
                                   
                                   </ul>
                                {% comment %} <div class="str-social-team">
                                    <a href="#"><i class="fab fa-facebook-f "></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="sa-team-inner-inner-box">
                        <div class="str-team-img-text position-relative">
                            <div class="str-team-img">
                                <img src="{% static 'assets/new-software-img/finance (1).png' %}" alt="">
                            </div>
                            <div class="str-team-text text-center str-headline pera-content">
                                <h4>Finance </h4>
                                <ul>
                                    <li>Payments and cards;</li>
                                    <li> Banking on capital markets;</li>
                            
                                    {% comment %} <li> Management of learning systems</li> {% endcomment %}
                                   
                                   </ul>
                                {% comment %} <div class="str-social-team">
                                    <a href="#"><i class="fab fa-facebook-f "></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="sa-team-inner-inner-box">
                        <div class="str-team-img-text position-relative">
                            <div class="str-team-img">
                                <img src="{% static 'assets/new-software-img/retail (1) (1).png' %}" alt="">
                            </div>
                            <div class="str-team-text text-center str-headline pera-content">
                                <h4>Retail </h4>
                                <ul>
                                    <li>Supply chain administration;</li>
                                    <li> Promotions and loyalty;</li>
                            
                                    {% comment %} <li> Management of learning systems</li> {% endcomment %}
                                   
                                   </ul>
                                {% comment %} <div class="str-social-team">
                                    <a href="#"><i class="fab fa-facebook-f "></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="sa-team-inner-inner-box">
                        <div class="str-team-img-text position-relative">
                            <div class="str-team-img">
                                <img src="{% static 'assets/new-software-img/healthcare (1).png' %}" alt="">
                            </div>
                            <div class="str-team-text text-center str-headline pera-content">
                                <h4>Healthcare </h4>
                                <ul>
                                    <li>Electronic medical records (EHR);</li>
                                    <li> Appointment scheduling software;</li>
                            
                                    {% comment %} <li> Management of learning systems</li> {% endcomment %}
                                   
                                   </ul>
                                {% comment %} <div class="str-social-team">
                                    <a href="#"><i class="fab fa-facebook-f "></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="sa-team-inner-inner-box">
                        <div class="str-team-img-text position-relative">
                            <div class="str-team-img">
                                <img src="{% static 'assets/new-software-img/media (1).png' %}" alt="">
                            </div>
                            <div class="str-team-text text-center str-headline pera-content">
                                <h4>Media</h4>
                                <ul>
                                    <li>Analytics for video and audio;</li>
                                    <li> Content customization;</li>
                            
                                    {% comment %} <li> Management of learning systems</li> {% endcomment %}
                                   
                                   </ul>
                                {% comment %} <div class="str-social-team">
                                    <a href="#"><i class="fab fa-facebook-f "></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="sa-team-inner-inner-box">
                        <div class="str-team-img-text position-relative">
                            <div class="str-team-img">
                                <img src="{% static 'assets/new-software-img/non-profit (1).png' %}" alt="">
                            </div>
                            <div class="str-team-text text-center str-headline pera-content">
                                <h4>Non-Profit</h4>
                                <ul>
                                    <li>Nonprofit educational organizations;</li>
                                    <li> Custom applications to increase fundraising ;</li>
                            
                                    {% comment %} <li> Management of learning systems</li> {% endcomment %}
                                   
                                   </ul>
                                {% comment %} <div class="str-social-team">
                                    <a href="#"><i class="fab fa-facebook-f "></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="sa-team-inner-inner-box">
                        <div class="str-team-img-text position-relative">
                            <div class="str-team-img">
                                <img src="{% static 'assets/new-software-img/utility (1).png' %}" alt="">
                            </div>
                            <div class="str-team-text text-center str-headline pera-content">
                                <h4>Utilities</h4>
                                <ul>
                                    <li>Asset and work management;</li>
                                    <li>Operations of smart grids;</li>
                            
                                    {% comment %} <li> Management of learning systems</li> {% endcomment %}
                                   
                                   </ul>
                                {% comment %} <div class="str-social-team">
                                    <a href="#"><i class="fab fa-facebook-f "></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
               
           
     </div>
 </div>
</section>




<!-- Start of newslatter section
        ============================================= -->
       
        <section id="dia-newslatter" class="dia-newslatter-section position-relative">
            <div class="container">
                <div class="dia-newslatter-content">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="dia-newslatter-text dia-headline pera-content" id="cnt">
                                <h3>Looking For Custom Software Services?</h3>
                                <h5>Let's talk about your idea and create something amazing.</h5>
                                <div class="nws-button text-capitalize" id="my-button">
                                  <a href="tel:+91-22-69288800" class="btn-gap"> <button class="hover-btn res-button" type="submit" value="Submit"> Call Us</button></a>
                                  <a href="https://wa.me/917710051543" target="_blank"> <button class="hover-btn res-button" type="submit" value="Submit"> Chat With Us</button></a>
                              </div>
                            </div>
                        </div>
                        {% comment %} <div class="col-lg-6">
                            <div class="dia-newslatter-form  relative-position">
                                <form action="#" method="post">
                                    {% csrf_token %}
                                    <input id="newsmail" name="email" type="email" placeholder="Enter your email address"> 
                                  
                                    
                                
                                <span id="newsmailMsg"></span>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
          </section>
        <!-- End of newslatter section
            ============================================= -->



   
  
  
         
    <!-- ***** Footer Start ***** -->
   
                    <!-- ***** Contact Form Start ***** -->
               
                    <!-- ***** Contact Form End ***** -->
                 
    <!-- jQuery -->
    <script src="{% static 'assets/new-software-js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/new-software-js/popper.js' %}"></script>
    <script src="{% static 'assets/new-software-js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/new-software-js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/new-software-js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/new-software-js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/new-software-js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/new-software-js/imgfix.min.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'assets/new-software-js/custom.js' %}"></script>


    {% comment %} <script>
        $(".js-navigate").on("click", function() {
            $(".js-navigate").removeClass("disabled");
            var current = $(".recipe.active");
            var findNext = $(current).next(".recipe");
            var findPrev = $(current).prev(".recipe");
            var button = $(this);
          
            $(current).removeClass("active");
            setTimeout(function() {
              if ($(button).hasClass("js-right")) {
                $(findNext).addClass("active");
                checkForDisable();
              } else if ($(button).hasClass("js-left")) {
                $(findPrev).addClass("active");
                checkForDisable();
              }
            }, 300);
          });
          
          function checkForDisable() {
            var current = $(".recipe.active");
            if ($(current).is(".recipe:last")) {
              $(".js-right").addClass("disabled");
            } else if ($(current).is(".recipe:first")) {
              $(".js-left").addClass("disabled");
            }
          }
          
    </script> {% endcomment %}

</body>
{% endblock body_about %}