{% extends "uk/nav.html" %}
{% load static %}

{% comment %} {% include "static.html" %} {% endcomment %}
 {% block body %}


 

		<!-- End of header section
			============================================= -->

    <!-- Start of breadcurmb section
    	=============================================  -->
    <!-- <section id="saasio-breadcurmb" class="saasio-breadcurmb-section">
    		<div class="container">
    			<div class="breadcurmb-title text-center">
    				<h2>Service 2</h2>
    			</div>
    			<div class="breadcurmb-item-list text-center ul-li">
    				<ul class="saasio-page-breadcurmb">
    					<li><a href="#">Home</a></li>
    					<li><a href="#">Service </a></li>
    				</ul>
    			</div>
    		</div>
    	</section> -->
    <!-- End of breadcurmb section
    	============================================= -->

    <!-- Start of banner section
	============================================= -->
	<div style="padding-top: 74px">
    <section
      id="pr-mark-banner"
      class="pr-mark-banner-section position-relative"
      data-background="{% static "assets/img/digital-a/bn-bg.jpg" %}"
    >
      <span class="pr-mark-banner-shape2 position-absolute"
        ><img src="{% static "assets/img/digital-a/bn-sh2.png" %}" alt=""
      /></span>
      <span class="pr-mark-banner-shape3 position-absolute"
        ><img src="{% static "assets/img/digital-a/pr-sh1.png" %}" alt=""
      /></span>
      <span class="pr-mark-banner-shape5 position-absolute"
        ><img src="{% static "assets/img/digital-a/pr-sh1.png" %}" alt=""
      /></span>
      <span class="pr-mark-banner-shape4 position-absolute"
        ><img src="{% static "assets/img/digital-a/bn-sh3.png" %}" alt=""
      /></span>
      <div class="pr-mark-banner-content-wrapper">
        <div class="container">
          <div class="pr-mark-banner-content position-relative">
            <div class="pr-mark-banner-text headline pera-content">
              {% comment %} <span class="banner-sub-tag"><b>Wellcome</b></span> {% endcomment %}
              <h1>Your Partner for Comprehensive Digital Solutions in the UK</h1>
              <p style="margin-right: 9px">
                Discover unparalleled website development and digital marketing services tailored to elevate your business in the UK.
              </p>
              <!-- <div class="pr-mark-banner-btn d-flex">
							<div class="pr-mark-btn text-center">
								<a class="d-flex justify-content-center align-items-center" href="#">Read More</a>
							</div>
							<div class="pr-mark-banner-video d-flex align-items-center">
								<a class="video_box d-flex justify-content-center align-items-center"
									href="https://www.youtube.com/watch?v=6zsr22OeF2I"><i class="fas fa-video"></i></a>
								<span>How It Work</span>
							</div>
						</div> -->
            </div>
            <div class="pr-mark-banner-img" style="bottom:24px">
              <img src="{% static "assets/img/uk-img/Service/service-uk-1.jpg" %}" alt="" />
              {% comment %} <div
                class="pr-mark-banner-client-wrapper d-flex align-items-center"
              >
                <div class="pr-mark-banner-client-text">Trusted Clients</div>
                <div class="pr-mark-banner-client-img ul-li position-relative">
                  <ul>
                    <li><img src="{% static "assets/img/digital-a/bt1.jpg" %}" alt="" /></li>
                    <li><img src="{% static "assets/img/digital-a/bt2.jpg" %}" alt="" /></li>
                    <li><img src="{% static "assets/img/digital-a/bt3.jpg" %}" alt="" /></li>
                    <li><img src="{% static "assets/img/digital-a/bt4.jpg" %}" alt="" /></li>
                  </ul>
                  <div class="pr-mark-tc-counter">
                    <span class="counter">100</span>+
                  </div>
                </div>
              </div> {% endcomment %}
              {% comment %} <div
                class="pr-mark-banner-counter headline pera-content text-center"
              >
                <h3><span class="counter">98</span>%</h3>
                <p>Job Done</p>
              </div> {% endcomment %}
              <div class="pr-mark-banner-shape1 position-absolute">
                <img src="{% static "assets/img/digital-a/bn-sh1.png" %}" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of banner section
	============================================= -->







            
	<!-- Start of about  section
	============================================= -->
	<section id="rx-about" class="rx-about-section" >
		<div class="container">
			<div class="rx-about-content">
				<div class="row">
					<div class="col-lg-6 wow fadeFromLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
						<div class="rx-about-award-img position-relative">
							<div class="rx-about-img-wrap">
								<img src="{% static "assets/img/uk-img/Service/service-uk-2.jpg" %}" alt="">
							</div>
							<!-- <div class="rx-about-award-text">
								<i class="fas fa-trophy"></i> <span>Experiences of 25+ years</span>
							</div> -->
						</div>
					</div>
					<div class="col-lg-6 wow fadeFromRight" data-wow-delay="100ms" data-wow-duration="1000ms">
						<div class="rx-about-text">
							<div class="rx-section-title headline">
								<h2>We combine strategy with marketing & <span>  technology to ensure customer prefer you.</span>
								</h2>
							</div>
							<div class="rx-about-text-wrap ul-li-block pera-content">
								<p>At Zaco Information Technology, we are dedicated to providing exceptional digital solutions that cater to the diverse needs of businesses across the UK. From cutting-edge web development to robust digital marketing strategies, our services are designed to help you thrive in the digital era. Explore our range of services and discover how we can elevate your business so that it soars to success in the United Kingdom.</p>
								<!-- <ul>
									<li>Physical and online resources </li>
									<li>Probably the largest law firm </li>
									<li>Practical Commercial Solution  </li>
								</ul> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of about  section
	============================================= -->






    <!-- Start of practice area  section
	============================================= -->
    <section id="rx-practice" class="rx-practice-section">
      <div class="container">
        <div class="rx-section-title headline text-center " style="margin-bottom: 60px;">
          <h2>Here’s our Portfolio of IT Services in the UK</h2>
        </div>
        
        <div class="rx-practice-conten ">
          <div class="row">
            <div
              class="col-lg-4 col-md-6 wow fadeFromUp"
              data-wow-delay="0ms"
              data-wow-duration="1000ms"
            >
              <div class="rx-practice-icon-text position-relative">
                <div class="rx-practice-text headline">
                  <h3>
                    <a href="{% url 'uk_sd' %}">Custom Mobile App Development Services</a>
                  </h3>
                  <p>
                    In today's mobile-first world, having a powerful and user-friendly app is essential for engaging with your customers. Our custom mobile app development services in the UK are tailored to meet your specific requirements, ensuring that your app is both, innovative and functional. Whether you need an app for Android, iOS or any cross-platform, our expert developers are here to bring your vision to life.
                  </p>
                </div>
                <div class="rx-practice-icon text-center">
                  <i class="flaticon-family"></i>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6 wow fadeFromUp"
              data-wow-delay="10ms"
              data-wow-duration="1000ms"
            >
              <div class="rx-practice-icon-text position-relative">
                <div class="rx-practice-text headline">
                  <h3><a href="{% url 'uk_web' %}">Web Development Services</a></h3>
                  <p>
                    Your website is the keystone of your online presence. Our expert web development services in the UK ensure that your site is not only visually appealing but also highly functional and optimized for the best performance. We leverage the latest technologies to build responsive, fast-loading websites that engage visitors and drive conversions. From e-commerce platforms to corporate sites, we tailor our approach to meet your specific requirements.
                  </p>
                </div>
                <div class="rx-practice-icon text-center">
                  <i class="flaticon-court"></i>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6 wow fadeFromUp"
              data-wow-delay="200ms"
              data-wow-duration="1000ms"
            >
              <div class="rx-practice-icon-text position-relative">
                <div class="rx-practice-text headline">
                  <h3><a href="#">UI/UX Design</a></h3>
                  <p>
                    A great user experience is key to keeping visitors on your site and encouraging them to interact with your content. Our UI/UX design services focus on creating interfaces that are both beautiful and easy to navigate. We conduct thorough user research to understand your audience and design interfaces that enhance usability and satisfaction.
                  </p>
                </div>
                <div class="rx-practice-icon text-center">
                  <i class="flaticon-criminal"></i>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6 wow fadeFromUp"
              data-wow-delay="300ms"
              data-wow-duration="1000ms"
            >
              <div class="rx-practice-icon-text position-relative">
                <div class="rx-practice-text headline">
                  <h3><a href="{% url 'uk_dm' %}">Digital Marketing Services</a></h3>
                  <p>
                    In a competitive digital landscape, having a robust online presence is the key to success. Our digital marketing services in the UK encompass SEO, Social Media Marketing (SMM), Social Media Optimization (SMO), etc. We develop strategies that enhance your visibility, drive traffic, and boost engagement. Let us help you reach your preferred target audience and achieve your marketing goals.
                  </p>
                </div>
                <div class="rx-practice-icon text-center">
                  <i class="flaticon-cyber-security"></i>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6 wow fadeFromUp"
              data-wow-delay="400ms"
              data-wow-duration="1000ms"
            >
              <div class="rx-practice-icon-text position-relative">
                <div class="rx-practice-text headline">
                  <h3><a href="{% url 'uk_sd' %}">Customized Software Development</a></h3>
                  <p>
                    Every business has unique needs, and our custom software development services in the UK are designed to meet those specific requirements. We develop customized software solutions that streamline your operations, improve efficiency, and provide a competitive edge. From initial consultation to final deployment, we work closely with you to ensure the software perfectly aligns with your business objectives.
                  </p>
                </div>
                <div class="rx-practice-icon text-center">
                  <i class="flaticon-crossed-arrows"></i>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6 wow fadeFromUp"
              data-wow-delay="400ms"
              data-wow-duration="1000ms"
            >
              <div class="rx-practice-icon-text position-relative">
                <div class="rx-practice-text headline">
                  <h3><a href="{% url 'uk_tc' %}">Technology Consultant </a></h3>
                  <p>
                    Our technical consulting services deliver customized solutions, including vendor analysis, business process optimization, performance testing, and functional enhancements, to help businesses align their digital strategies and achieve a competitive technological advantage.
                  </p>
                </div>
                <div class="rx-practice-icon text-center">
                  <i class="flaticon-crossed-arrows"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of practice area section
	============================================= -->




{% endblock %}
