{% extends "uk/nav.html" %}
{% load static %}

{% comment %} {% include "static.html" %} {% endcomment %}
 {% block body %}


   <!-- Start of banner section
	============================================= -->
	<div style="padding-top: 73px">
		<section
		  id="pr-mark-banner"
		  class="pr-mark-banner-section position-relative"
		  data-background="{% static "assets/img/digital-a/bn-bg.jpg" %}"
		>
		  <span class="pr-mark-banner-shape2 position-absolute"
			><img src="{% static "assets/img/digital-a/bn-sh2.png" %}" alt=""
		  /></span>
		  <span class="pr-mark-banner-shape3 position-absolute"
			><img src="{% static "assets/img/digital-a/pr-sh1.png" %}" alt=""
		  /></span>
		  <span class="pr-mark-banner-shape5 position-absolute" style="height:100%"
			><img src="{% static "assets/img/digital-a/pr-sh1.png" %}" alt=""
		  /></span>
		  <span class="pr-mark-banner-shape4 position-absolute"
			><img src="{% static "assets/img/digital-a/bn-sh3.png" %}" alt=""
		  /></span>
		  <div class="pr-mark-banner-content-wrapper">
			<div class="container">
			  <div class="pr-mark-banner-content position-relative" style="padding-bottom:278px">
				<div class="pr-mark-banner-text headline pera-content">
				  {% comment %} <span class="banner-sub-tag"><b>Wellcome</b></span> {% endcomment %}
				  <h1>Digital Marketing Services in the United Kingdom</h1>
				  <p style="margin-right: 9px">
					Are you looking to elevate your online presence and reach your target audience effectively? Whether you're seeking to enhance your SEO, revamp your website design, or amplify your social media presence, our team of experts are here to guide you every step of the way. Our comprehensive suite of digital marketing services is tailored to help businesses stand out in the crowded online marketplace. 
				  </p>
				  <!-- <div class="pr-mark-banner-btn d-flex">
								<div class="pr-mark-btn text-center">
									<a class="d-flex justify-content-center align-items-center" href="#">Read More</a>
								</div>
								<div class="pr-mark-banner-video d-flex align-items-center">
									<a class="video_box d-flex justify-content-center align-items-center"
										href="https://www.youtube.com/watch?v=6zsr22OeF2I"><i class="fas fa-video"></i></a>
									<span>How It Work</span>
								</div>
							</div> -->
				</div>
				<div class="pr-mark-banner-img" style="bottom:134px">
				  <img src="{% static "assets/img/uk-img/DM/dm-uk-1.jpg" %}" alt="" />
				  {% comment %} <div
					class="pr-mark-banner-client-wrapper d-flex align-items-center"
				  >
					<div class="pr-mark-banner-client-text">Trusted Clients</div>
					<div class="pr-mark-banner-client-img ul-li position-relative">
					  <ul>
						<li><img src="{% static "assets/img/digital-a/bt1.jpg" %}" alt="" /></li>
						<li><img src="{% static "assets/img/digital-a/bt2.jpg" %}" alt="" /></li>
						<li><img src="{% static "assets/img/digital-a/bt3.jpg" %}" alt="" /></li>
						<li><img src="{% static "assets/img/digital-a/bt4.jpg" %}" alt="" /></li>
					  </ul>
					  <div class="pr-mark-tc-counter">
						<span class="counter">100</span>+
					  </div>
					</div>
				  </div> {% endcomment %}
				  {% comment %} <div
					class="pr-mark-banner-counter headline pera-content text-center"
				  >
					<h3><span class="counter">98</span>%</h3>
					<p>Job Done</p>
				  </div> {% endcomment %}
				  <div class="pr-mark-banner-shape1 position-absolute">
					<img src="{% static "assets/img/digital-a/bn-sh1.png" %}" alt="" />
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</section>
		<!-- End of banner section
		============================================= -->




	<!-- Start of about  section
	============================================= -->
	<section id="rx-about" class="rx-about-section" >
		<div class="container">
			<div class="rx-about-content">
				<div class="row">
					<div class="col-lg-6 wow fadeFromLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
						<div class="rx-about-award-img position-relative">
							<div class="rx-about-img-wrap">
								<img src="{% static "assets/img/uk-img/DM/dm-uk-2.jpg" %}" alt="">
							</div>
							<!-- <div class="rx-about-award-text">
								<i class="fas fa-trophy"></i> <span>Experiences of 25+ years</span>
							</div> -->
						</div>
					</div>
					<div class="col-lg-6 wow fadeFromRight" data-wow-delay="100ms" data-wow-duration="1000ms" style="margin-block:auto">
						<div class="rx-about-text">
							<div class="rx-section-title headline">
								<h2>Digital Marketing Services in the UK that   <span> Drive Results</span>
								</h2>
							</div>
							<div class="rx-about-text-wrap ul-li-block pera-content">
								<p>From one of the best SEO services in the United Kingdom along with great web design, to social media marketing services in the UK including content curation, our team of experts are dedicated to delivering tailored solutions that meet your unique business goals. Here's a glimpse of the top-notch services that we offer.</p>
								<!-- <ul>
									<li>Physical and online resources </li>
									<li>Probably the largest law firm </li>
									<li>Practical Commercial Solution  </li>
								</ul> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of about  section
	============================================= -->


















	<!-- Start of Faq section
        ============================================= -->
	<section id="app-dm-faq" class="app-dm-faq-section position-relative" style="padding-top:0px">
		<span class="app-dm-benifit-shape2 position-absolute"><img src="{% static "assets/img/d-marketing/img/bg/bn-bg2.png" %}"
				alt=""></span>
		<div class="container">
			<div class="app-dm-faq-content">
				<div class="row">
					<div class="col-lg-6">
						<div class="app-dm-faq-text-wrapper">
							<div class="app-dm-section-title  app-dm-headline pera-content">
								<!-- <span class="sub-title position-relative">Frequently asked questions</span> -->
								<!-- <h2>Top Digital Marketing Services & Features for You in the USA
								</h2> -->
								<div class="rx-section-title headline">
									<h2>Top <span>Digital Marketing Services &</span> Features for You in the UK 
									</h2>
								</div>
							</div>
							<div class="app-dm-faq-content-wrapper">
								<div class="accordion" id="accordionExample">
									<div class="app-dm-faq-item">
										<div class="app-dm-faq-item-header" id="headingOne">
											<button class="" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne"
												aria-expanded="true">
												Search Engine Optimization (SEO) 
											</button>
										</div>
										<div id="collapseOne" class="collapse show" data-parent="#accordionExample">
											<div class="app-dm-faq-item-body">
												Increase your website's visibility and drive organic traffic with our proven SEO services in the UK. Our team of SEO experts employs ethical techniques to enhance your search engine serving and attract quality leads.

											</div>
										</div>
									</div>
									<div class="app-dm-faq-item">
										<div class="app-dm-faq-item-header" id="headingTwo">
											<button class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false">
												Web Design and Development Services
											</button>
										</div>
										<div id="collapseTwo" class="collapse" data-parent="#accordionExample" style="">
											<div class="app-dm-faq-item-body">
												Make a lasting impression with a visually stunning and user-friendly website. Our web design and development services are focused on creating engaging online experiences that captivate your audience and drive conversions.

											</div>
										</div>
									</div>
									<div class="app-dm-faq-item">
										<div class="app-dm-faq-item-header" id="headingThree">
											<button class="collapsed" data-toggle="collapse" data-target="#collapseThree"
												aria-expanded="false">
												Social Media Marketing (SMM) Solutions
											</button>
										</div>
										<div id="collapseThree" class="collapse" data-parent="#accordionExample" style="">
											<div class="app-dm-faq-item-body">
												Connect with your target audience on popular social media platforms and build meaningful relationships. Our Social Media Marketing agency in the UK craft compelling content and targeted campaigns to boost brand awareness, engagement and conversions.

											</div>
										</div>
									</div>
									<div class="app-dm-faq-item">
										<div class="app-dm-faq-item-header" id="headingFour">
											<button class="collapsed" data-toggle="collapse" data-target="#collapseFour"
												aria-expanded="false">
												Content Marketing
											</button>
										</div>
										<div id="collapseFour" class="collapse" data-parent="#accordionExample" style="">
											<div class="app-dm-faq-item-body">
												Fuel your digital marketing efforts with high-quality and relevant content. Whether it's blog posts, articles, or social media posts, our team of content creators ensures that your brand's message resonates with your audience and drives action.

											</div>
										</div>
									</div>
									<div class="app-dm-faq-item">
										<div class="app-dm-faq-item-header" id="headingFour">
											<button class="collapsed" data-toggle="collapse" data-target="#collapseFour1"
												aria-expanded="false">
												Email Marketing
											</button>
										</div>
										<div id="collapseFour1" class="collapse" data-parent="#accordionExample" style="">
											<div class="app-dm-faq-item-body">
												Leverage the power of email marketing to nurture leads and drive conversions. Our email marketing campaigns are designed to deliver personalized and engaging content that keeps your audience coming back for more.

											</div>
										</div>
									</div>
									<div class="app-dm-faq-item">
										<div class="app-dm-faq-item-header" id="headingFour">
											<button class="collapsed" data-toggle="collapse" data-target="#collapseFour2"
												aria-expanded="false">
												Digital Advertising Services
											</button>
										</div>
										<div id="collapseFour2" class="collapse" data-parent="#accordionExample" style="">
											<div class="app-dm-faq-item-body">
												Reach your target audience precisely where they are with our digital advertising solutions. From Google Ads to social media ads, we help you maximize your ROI and achieve your advertising objectives.

											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 ">
						<div class="app-dm-faq-video-wrapper position-relative" style="height: 100%;">
							<div class="app-dm-video-img" style="height: 100%;">
								<img src="{% static "assets/img/uk-img/DM/dm-uk-3.jpg" %}" alt="" style="height: 100%;">
							</div>
							{% comment %} <div class="app-dm-faq-video-play">
								<a class="d-flex justify-content-center align-items-center lightbox-image overlay-box position-relative"
									href="https://www.youtube.com/watch?v=bixR-KIJKYM"><i class="fas fa-play"></i>
									<span class="video_btn_border border_wrap-1"></span>
									<span class="video_btn_border border_wrap-2"></span>
								</a>
							</div> {% endcomment %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of Faq section
			============================================= -->



	<!-- Start of practice area  section
	============================================= -->
	<section id="rx-practice" class="rx-practice-section">
		<div class="container">
			<div class="rx-section-title headline text-center">
				<h2>Why Choose Us?</h2>
			</div>
			<p style="text-align: center; padding-inline: 50px; margin-top: 20px;">WAt ZIT, we pride ourselves on delivering exceptional results and exceeding our clients' expectations. Here's why businesses trust us for their digital marketing needs.</p>
			<div class="rx-practice-content">
				<div class="row">
					{% comment %} <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1000ms">
						<div class="rx-practice-icon-text position-relative">
							<div class="rx-practice-text headline">
								<h3><a href="#">Expertise</a></h3>
								<p>With years of experience in the digital marketing industry, our team brings unparalleled expertise and insights to every project we undertake. We stay updated with the latest trends and technologies to ensure your digital marketing strategy remains ahead of the curve.</p>
							</div>
							<div class="rx-practice-icon text-center">
								<i class="flaticon-family"></i>
							</div>
						</div>
					</div> {% endcomment %}
					{% comment %} <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="10ms" data-wow-duration="1000ms">
						<div class="rx-practice-icon-text position-relative">
							<div class="rx-practice-text headline">
								<h3><a href="#">Customization</a></h3>
								<p>We understand that every business is unique, which is why we take a customized approach to every project. Whether you're a small start-up or a large enterprise, we'll work closely with you to develop a strategy that aligns with your goals and objectives.</p>
							</div>
							<div class="rx-practice-icon text-center">
								<i class="flaticon-court"></i>
							</div>
						</div>
					</div> {% endcomment %}
					<div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="200ms" data-wow-duration="1000ms">
						<div class="rx-practice-icon-text position-relative">
							<div class="rx-practice-text headline">
								<h3><a href="#">Customization</a></h3>
								<p>We understand that every business is unique, hence we take a personalized approach to digital marketing. Our solutions are tailored to your specific goals, audience, and industry, ensuring maximum effectiveness and ROI.</p>
							</div>
							<div class="rx-practice-icon text-center">
								<i class="flaticon-criminal"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="300ms" data-wow-duration="1000ms">
						<div class="rx-practice-icon-text position-relative">
							<div class="rx-practice-text headline">
								<h3><a href="#"> Transparency</a></h3>
								<p>We believe in building trust and transparency with our clients every step of the way. From project timelines to performance metrics, you'll have full visibility into our processes and results.</p>
							</div>
							<div class="rx-practice-icon text-center">
								<i class="flaticon-cyber-security"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="300ms" data-wow-duration="1000ms">
						<div class="rx-practice-icon-text position-relative">
							<div class="rx-practice-text headline">
								<h3><a href="#"> Results-Driven</a></h3>
								<p>Our ultimate goal is to help you achieve tangible results and drive business growth. Whether it's increasing website traffic, generating leads, or boosting sales, we're committed to delivering measurable outcomes that matter.</p>
							</div>
							<div class="rx-practice-icon text-center">
								<i class="flaticon-cyber-security"></i>
							</div>
						</div>
					</div>
				
				</div>

			</div>
		</div>
	</section>
	<!-- End of practice area section
	============================================= -->



{% endblock %}