
    <div class="card-cont">
        <div class="card" style="width: 23rem">
          <a class="btn" href="#"
            ><i
              class="fa-solid fa-object-group fa-2x fass"
              style="color: #ff8533"
            ></i>
          </a>
          <div class="card-body">
            <h5 class="card-title">USER-FRIENDLY DESIGN</h5>
            <p class="card-text">
              CSS will collaborate with you to create a captivating design that enhances your company and keeps users interested on your app. Customers will be able to concentrate on the value of your app if the navigation and user experience are simple and easy to comprehend in addition to having an app that is pleasing to the sight. 
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a>  -->
          </div>
        </div>
        <div class="card" style="width: 23rem">
          <a class="btn" href="#"
            ><i class="fa-solid fa-lock fa-2x" style="color: #ff8533"></i>
          </a>
          <div class="card-body">
            <h5 class="card-title">WEB APPLICATION SECURITY</h5>
            <p class="card-text">
              The best applications are built with security in mind. Depending on
              the nature of your web app, security needs may include data
              encryption, authentication procedures, Virtual Private Network (VPN)
              configuration, error reporting, and dashboards for app
              administrators. Our advanced security features and reporting
              procedures allow you to stay informed about your security framework
              and address any potential threats with ease..
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a>  -->
           
          </div>
        </div>
        <div class="card" style="width: 23rem">
          <a class="btn" href="#"
            ><i class="fa-solid fa-pen fa-2x" style="color: #ff8533"></i
          ></a>
          <div class="card-body">
            <h5 class="card-title">CUSTOM FOR YOUR BUSINESS</h5>
            <p class="card-text">
              Your app should represent the best of what your business has to
              offer. Custom Software Solutions does not create one-size-fits all
              templates—instead, we work with you to determine exactly what kind
              of app will best suit your business. Once we have agreed on a
              purpose and general layout, we will get to work creating a design
              and user experience that you and your customers will love..
            </p>
             <!-- <a href="#" class="btn btn-primary">Go somewhere</a>  -->
          </div>
        </div>
      </div>
     
      {% comment %} card second row {% endcomment %}
      <div class="card-cont">
        <div class="card" style="width: 23rem">
          <a class="btn" href="#"
            ><i
              class="fa-solid fa-object-group fa-2x fass"
              style="color: #ff8533"
            ></i>
          </a>
          <div class="card-body">
            <h5 class="card-title">FAST & RELIABLE PERFORMANCE</h5>
            <p class="card-text">
              Custom apps are a huge opportunity to drive business and keep
              customers engaged. However, if customers have a poor experience on
              the app, it can reflect poorly on your business and your
              credibility. Our app developers use sound design and development
              practices to ensure your app is reliable, quick to load, and
              easy-to-use, reducing the risk of a negative customer experience
              with your app.
            </p>
             <!-- <a href="#" class="btn btn-primary">Go somewhere</a>  -->
            
          </div>
        </div>
        <div class="card" style="width: 23rem">
          <a class="btn" href="#"
            ><i class="fa-solid fa-lock fa-2x" style="color: #ff8533"></i>
          </a>
          <div class="card-body">
            <h5 class="card-title">SUPERIOR MANAGEMENT</h5>
            <p class="card-text">
              The app development process doesn’t end when the app is released.
              CSS ensures you maximize your Return on Investment (ROI) through
              ongoing consulting. We provide expertise on the user experience,
              conversions, and digital marketing, as well as troubleshooting any
              issues that arise. CSS will also help you keep your app secure,
              developing and deploying new security updates as needed.
            </p>
         <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            
          </div>
        </div>
        <div class="card" style="width: 23rem">
          <a class="btn" href="#"
            ><i class="fa-solid fa-pen fa-2x" style="color: #ff8533"></i
          ></a>
          <div class="card-body">
            <h5 class="card-title">EXPERTISE & EXPERIENCE</h5>
            <p class="card-text">
              Custom Software Solutions is a trusted partner throughout the app
              development process. We have the expertise to create a customized
              solution that will showcase your business and the experience to
              provide advice on all stages of the app lifecycle. CSS app
              developers have years of experience creating, deploying, and
              troubleshooting complex apps, and we are ready to help you “wow”
              your customers with a custom tool.
            </p>






            <div class="contact-cont">
                <div class="picture-left">
                  <img src="{% static 'assets/img/custom-soft/consultant.jpg' %}" alt="" width="100%" height="100%">
                </div>
                <div class="content-right">
                  <div class="con-h1" style="width:400px; height:135px;">
                  <h1>Let us take the technical weight off your shoulders</h1><a href=""><a href="#" class="btn1 btn-1">Contact Us</a>
                  </div>
                  
            
                </div>
              </div>

              





              .contact-cont{
                display: flex;
                width: 100%;
                height:500px;
                margin-top: -50px;
              }
              .picture-left{
                width: 50%;
              
              }
              .content-right{
                width: 50%;
                background-color: #f2f2f2;
              
              }
              .con-h1 h1{
                text-align: left;
                /* margin-left: -15px; */
                margin-left: 80px;
                margin-top: 140px;
                color:#010148;
              
               font-family: 'poppins', sans-serif;
              }
              .btn-cont{
                margin-top: 100px;
                margin-left: 100px;
              }
              .btn-cont a{
                text-decoration: none;
                color: white;
              }
              .btn1{
                background-color: #ff8533;
                border: 1px;
                border-radius: 30px;
                padding:15px 30px;
                font-size: 20px;
                font-weight: 700;
                color: #d8ecf3;
                font-family: 'Roboto', sans-serif;
                cursor: pointer;
                transition: 0.8s;
                position:relative;
                overflow: hidden;
              }
              .btn-1:hover{
                background: #010148;
              
               }








                
         <a class="bg_links social portfolio" href="https://www.rafaelalucas.com" target="_blank">
          <span class="icon"></span>
       </a>
       <a class="bg_links social dribbble" href="https://dribbble.com/rafaelalucas" target="_blank">
          <span class="icon"></span>
       </a>
       <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">
          <span class="icon"></span>
       </a>
       <a class="bg_links logo"></a>
       


       {% comment %} ui ux  {% endcomment %}


       <style>
        *{
            box-sizing: border-box;
            padding:0;
            margin:0;
        }
        .container1{
            display:flex;
            width:100%;
            height: 637px;
           
        }
        .inner-col1{
            width:80%;
           
        }
        .inner-col2{
            width:100%;
            
            background:url({% static 'assets/img/custom-soft/graph.png' %});
            background-repeat: no-repeat;
            background-size: cover;
        }
        .img-cont1{
            display: flex;
        }
        .img-inner1{
            width:50%;
            margin-left:80px;
            margin-top:20px;
        }
        .img-inner2{
            width: 40%;
            margin-top: 80px;
            margin-left:20px;
            text-align: left;
        }
        #img1{
            
           
            border-radius: 10px; 
            
            
        }
        #img2{
           
            border-radius: 10px; 
        }
       .img-down{
        width:50%;
        margin-top:-200px;
        margin-left:20px;
       }
       .img-down img{
         
        border-radius: 10px; 
       }
       .inner-col1 h5{
        color: orange;
        font-family: 'poppins', sans-serif;
        padding-top:150px;
        padding-left:50px;
       }
       .inner-col1 h2{
        color:#010148;
        font-family: 'spartan', sans-serif;
        font-weight:700;

        padding-left:50px;
       }
       .inner-col1 p{
        color:#010148;
        font-family: 'Roboto', sans-serif;
        font-size:16px;
        padding-left:50px;
        padding-top: 20px;
       }
      {% comment %} setiom 1 ends here  {% endcomment %}

       .contt{
        display: flex;
        overflow: hidden;
        justify-content: space-around;
       
        margin-top: 50px;
       }

      h1 {
        font-size: 3rem;
      }
      
      /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
      .flip-box {
        background-color: transparent;
        width: 30vw;
       
        /*  border: 1px solid black; */
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
        cursor: pointer;
      }
      
      /* This container is needed to position the front and back side */
      .flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 52.65%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      /* Do an horizontal flip when you move the mouse over the flip box container */
      .flip-box:hover .flip-box-inner {
        transform: rotateY(180deg);
      }
      
      /* Position the front and back side */
      .flip-box-front,
      .flip-box-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }
      
      .contt img {
        width: 50%%;
        height: 100%;
        object-fit: cover;
        {% comment %} opacity:0.7; {% endcomment %}
        
      }
      
      /* Style the front side (fallback if image is missing) */
      .flip-box-front {
        color: black;
      }
      
      /* Style the back side */
      .flip-box-back {
        background-color: #ff6f00;
        color: white;
        transform: rotateY(180deg);
        {% comment %} display: grid; {% endcomment %}
        {% comment %} align-content: center; {% endcomment %}
      }

      {% comment %} contact  {% endcomment %}
      .container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        transition: all 0.3s ease;
      }
      
      body.menu-active .container {
        transform: scale(0.9);
      }
      
      .container .inner {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow: hidden;
      }
      
      .nav {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 75px;
        margin: 0;
        padding: 0 25px;
        box-sizing: border-box;
        z-index: 99;
      }
      
      .nav a {
        display: inline-block;
        height: 75px;
        line-height: 75px;
        font-size: 30px;
        padding: 0 25px;
        color: #212121;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        
        transition: all 0.32s ease;
      }
      
      body:not(.menu-active) .nav a.menu-activator:hover {
        transform: rotate(90deg);
      }
      
      body.menu-active .nav a.menu-activator {
        transform: rotate(90deg);
      }
      
      .nav a.white {
        color: #FAFAFA;
      }
      
      body.menu-active .nav a.white {
        color: #212121;
        transition: all 0.15s ease;
      }
      
      .nav a.link {
        float: right;
        position: relative;
        text-align: center;
      }
      
      .nav a.link i {
        position: absolute;
        display: block;
        transform: translateX(-50%);
        
        transition: all 0.32s ease;
      }
      
      .nav a.link i.hidden {
        opacity: 0;
        pointer-events: none;
      }
      
      .nav a.link:hover i {
        opacity: 0;
        pointer-events: none;
      }
      
      .nav a.link:hover i.hidden {
        opacity: 1;
        pointer-events: auto;
      }
      
      .nav i.ion-cube {
        display: inline-block;
        position: absolute;
        height: 75px;
        line-height: 75px;
        font-size: 35px;
        left: 50%;
        transform: translateX(-50%);
      }
      
      .container .inner .panel {
        position: relative;
        box-sizing: border-box;
        height: 100%;
        width: 60%;
        float: left;
        transform: skew(-20deg);
      }
      
      .container .inner .panel.panel-left {
        margin-left: -10%;
      }
      
      .container .inner .panel .panel-content {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) skew(20deg);
      }
      
      .container .inner .panel.panel-left .panel-content .image-background {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        opacity: 0.95;
        background-image: url('http://uplusion23.net/images/RickGenestSm.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
      
      .container .inner .panel.panel-right {
        margin-right: -10%;
        background: #1B1B1B;
      }
      
      .container .inner .panel.panel-right .panel-content .form {
        display: block;
        position: absolute;
        margin: 0 auto;
        width: 300px;
        min-height: 400px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-25%);
      }
      
      .container .inner .panel.panel-right .panel-content .form h1 {
        display: block;
        margin: 0 0 45px 0;
        color: #B1B1B1;
        font-weight: 200;
        font-size: 18px;
      }
      
      .group { 
        position: relative; 
        margin-bottom: 25px; 
      }
      
      input {
        font-size: 13px;
        height: 25px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 300px;
        border: none;
        outline: none;
        border-bottom: 1px solid #B1B1B1;
        color: #B1B1B1;
        background: rgba(0,0,0,0);
        opacity: 0.5;
        transition: 0.2s ease;
      }
      
      input:focus {
        outline: none;
        opacity: 1;
      }
      
      label {
        color: #B1B1B1; 
        font-size: 13px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 15px;
        opacity: 0.5;
        transition: 0.2s ease all; 
        -moz-transition: 0.2s ease all; 
        -webkit-transition: 0.2s ease all;
      }
      
      /* active state */
      input:focus ~ label, input:valid ~ label 		{
        top: -10px;
        font-size: 12px;
        color: #B1B1B1;
        opacity: 1;
      }
      
      .highlight {
        position: absolute;
        height: 60%; 
        width: 100px; 
        top: 25%; 
        left: 0;
        pointer-events: none;
        opacity: 0.5;
      }
      
      /* active state */
      input:focus ~ .highlight {
        -webkit-animation:inputHighlighter 0.3s ease;
        -moz-animation:inputHighlighter 0.3s ease;
        animation:inputHighlighter 0.3s ease;
      }
      
      /* ANIMATIONS ================ */
      @-webkit-keyframes inputHighlighter {
        from { background:#B1B1B1; }
        to 	{ width:0; background:transparent; }
      }
      @-moz-keyframes inputHighlighter {
        from { background:#B1B1B1; }
        to 	{ width:0; background:transparent; }
      }
      @keyframes inputHighlighter {
        from { background:#B1B1B1; }
        to 	{ width:0; background:transparent; }
      }
      
      a.send-btn {
        float: right;
        color: #B1B1B1;
        transition: 0.2s ease;
      }
      
      a.send-btn:hover {
        color: #FAFAFA;
        cursor: pointer;
      }
      
      .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        
        transition: all 0.33s ease;
      }
      
      .menu::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(240,240,240,0.0);
        
        transition: all 0.45s ease;
      }
      
      body.menu-active .menu {
        left: 0;
      }
      
      body.menu-active .menu::before {
        background: rgba(240,240,240,0.9);
      }

      @media screen and (max-width:380px) {

        html,body {
          overflow-x: hidden !important;
          width: 100vw !important;
          margin:0%;
          padding: 0%;
  
          
      }
        .container1{
          display:block;
          width:100vw;
          height:auto;
       
         
         
      }
      .img-cont1{
        display: block;
        
        
        
    }
      .inner-col1{
          width:100%;
          margin:0%;
        padding-right:20px;
      }
      .inner-col2{
        width:100vw;
        margin:0%;
        padding:0%;
      }
     
      .img-cont1{
          display: block;
      }
      .img-inner1{
          width:100%;
         
      }
      .img-inner2{
          width: 100%;
         
      }
      .img-inner2{
        width: 100%;
       
    }
    .img-down{
      width:80%;
      margin-top:30px;
      margin-left:0%;
      margin-right:0%;
      
   
    
     }
     .img-down img{
      width:100%;
     
     margin:0%;
     padding:0%;
     
    
     }


     
      }

      @media screen and (max-width:500px) {

        html,body {
          overflow-x: hidden !important;
          width: 100vw !important;
          margin:0%;
          padding: 0%;
  
          
      }
        .container1{
          display:block;
          width:100vw;
          height:auto;
       
         
         
      }
      .img-cont1{
        display: block;
        margin:auto;
        width:90%;
        
        
        
    }
    #img2{
      margin:auto;
      display:block;
      width:100%;
    }
      .inner-col1{
          width:100%;
          margin:0%;
        padding-right:20px;
      }
      .inner-col2{
        width:100vw;
        margin:0%;
        padding:0%;
      }
     
      .img-cont1{
          display: block;
      }
      .img-inner1{
          width:100%;
         
      }
      .img-inner2{
          width: 100%;
         
      }
      .img-inner2{
        width: 120%;
       
    }
    .img-down{
      display: block;
      margin-left:auto;
      margin-right:auto;
      width:80%;
      margin-top:30px;
      
    
    
     }
     .img-down img{
      width:100%;
     
     margin:0%;
     padding:0%;
     
    
     }


     
      }
      
      @media only screen and (max-width: 600px) {
        .flip-box-inner {
          padding-top: 50%;
        }
        .flip-box {
          width: 90vw;
          height:400px;
        }
      }
      .flip-box-back h3{
        padding-bottom:20px;
        padding-top:20px;
      }
     .first-text{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        color: white;
        font-family: "spartan", "san-serif";
        font-size: 40px;
        font-weight: 700;
     }
      
     {% comment %} card section ends here  {% endcomment %}

     .container2{
      display:block;
      flex-direction: row-reverse;
      width:100%;
      height: 637px;
     
  }
  #img2-1{
    margin-left:-20px;  
    border-radius: 10px; 
}
 
{% comment %} tools section {% endcomment %}
.cont3-inner{
  display: flex;
  justify-content: space-around;
}
.i-cont{
  width:20%;

  text-align: center;
  margin-top:100px;
  background-color: #f2f2f2;
}
.i-cont img{
  width:50%;
  padding-top: 20px;
  padding-bottom:20px;
}

.cont3-inner2{
  display: flex;
  justify-content: space-around;
}


{% comment %} contact section {% endcomment %}

html,body {
  overflow-x: hidden !important;
  width: 100vw !important;
  margin:0%;
  padding: 0%;

  
}
.container1{
  display:block;
  width:100vw;
  height:auto;

 
 
}
.img-cont1{
display: block;
margin:auto;
width:90%;



}
#img2{
margin:auto;
display:block;
width:100%;
}
.inner-col1{
  width:100%;
  margin:0%;
padding-right:20px;
}
.inner-col2{
width:100vw;
margin:0%;
padding:0%;
}

.img-cont1{
  display: block;
}
.img-inner1{
  width:100%;
 
}
.img-inner2{
  width: 100%;
 
}
.img-inner2{
width: 120%;

}
.img-down{
display: block;
margin-left:auto;
margin-right:auto;
width:80%;
margin-top:30px;



}
.img-down img{
width:100%;

margin:0%;
padding:0%;


}



 {% comment %} media strat 720px {% endcomment %}

 @media screen and (max-width:720px) {
  html,body {
    overflow-x: hidden !important;
    width: 100% !important;
    margin:0%;
    padding: 0%;

    
}
.container1{
  display: block;
  width: 100%;
  height:auto;
  margin-bottom:40px;
}
.img-inner1{
  
}
.img-inner1 img{
  width:100%;
}
.img-down{
  margin-left:60px;
}


.contt{
  display:block;
  width:100%;
}
.flip-box{
  width:100%;
}
.flip-box1{
  width:100%;
}
.flip-box-front img{
  width:80%;
}
.flip-box-back{
  width:100%;
  margin:auto;
}

h3{
  font-size:40px;
}
.flip-box-back p{
  padding:40px;
  font-size:20px;
}

{% comment %} section3 here  {% endcomment %}
.container2{
  display: block;
  align-items:center;
 margin-bottom:50px;
 height:auto;
}
.inner-col2{
 width:100%;
 margin-right:40px;
}
.img-cont1{
  margin-left:-60px;
}
.img-down2{

}





}


@media screen and (max-width:890px) {
  html,body {
    overflow-x: hidden !important;
    width: 100% !important;
    margin:0%;
    padding: 0%;

    
}
.container1{
  display: block;
  width: 100%;
  height:auto;
  margin-bottom:40px;
}
.img-inner1{
  width:80%;
  margin-right:-60px;
}
.img-inner1 img{
  width:60%;
}
.img-down{
  margin-left:60px;
}


.contt{
  display:block;
  width:100%;
}
.flip-box{
  width:80%;

}
.flip-box1{
  width:100%;
}
.flip-box-front img{
  width:80%;
}
.flip-box-back{
  width:100%;
  margin:auto;
}

h3{
  font-size:40px;
}
.flip-box-back p{
  padding:40px;
  font-size:20px;
}

{% comment %} section3 here  {% endcomment %}
.container2{
  display: block;
  align-items:center;
 margin-bottom:50px;
 height:auto;
}
.inner-col2{
 width:100%;
 margin:0%;
}
.img-cont1{
  width:100%;
  margin:0%;
  
}

.img-down2{

}

}

@media screen and (max-width:990px) {
  html,body {
    overflow-x: hidden !important;
    width: 100% !important;
    margin:0%;
    padding:0%;

    
}
.container1{
  display: block;
  width: 100%;
  height:auto;
  margin-bottom:40px;
}
.img-inner1{
  
}
.img-inner1 img{
  width:100%;
}
.img-inner2 img{
  width:100%;
}
.img-down{
  
}


.contt{
  display:block;
  width:100%;
}
.flip-box{
  width:100%;
  margin-top:30px;


 
  
}
.flip-box1{
  width:100%;

}
.flip-box-front img{
  width:80%;
}
.flip-box-back{
  width:100%;
  margin:auto;
}

h3{
  font-size:40px;
}
.flip-box-back p{
  padding:40px;
  font-size:20px;
}

{% comment %} section3 here  {% endcomment %}
.container2{
  display: block;
  align-items:center;
 margin-bottom:50px;
 height:auto;
}
.inner-col2{
 width:100%;
 margin-right:40px;
}
.img-cont1{
  margin-left:-60px;
}
.img-down2{

}

}

    </style>
    </head>
    <body>
        <div class="container1">
            <div class="inner-col1">
                <h5>What We Offer</h5>
                <h2>complex-product
                    We build designs that uncomplicate the use of complicated systems.</h2>
                <p>We build impactful UX design and branding for product-led companies around the world. Using the industry-proven methods Jobs to be Done and Design Sprints, we've developed a highly optimised process that brings results in just a few weeks.</p>
            </div>
            <div class="inner-col2">
                <div class="img-cont1">
                    <div class="img-inner1">
                        <img id="img1" src="{% static 'assets/img/custom-soft/ui1.jpg' %}" alt="" width="90%" height="300px" >
                    </div>
                    <div class="img-inner2">
                        <img id="img2" src="{% static 'assets/img/custom-soft/uii.png' %}" alt="" width="100%" height="450px">
                    </div>
                   
                   
                </div>
                <div class="img-down">
                    <img  src="{% static 'assets/img/custom-soft/ui2.jpg' %}" alt="" width="100%" height="200px">
                </div>
                <div>

                </div>
            </div>



        </div>
                  <h1 style="text-align:center; color: #010148; font-family: spartan , san-serif; font-weight:700;">How We Work</h1>
                     <div class="contt">
                     <div class="flip-box">
                        <div class="flip-box-inner flip-box1">
                          <div class="flip-box-front">
                            <h3 class="first-text">Testing</h3> 
                            <img src="{% static 'assets/img/custom-soft/testing.png' %}" alt="Paris" width="300px">
                          </div>
                          <div class="flip-box-back">
                            <h3>Testing</h3>
                            <p>We finetune our designs using state-of-the-art testing techniques by testing the overall product usability at Omni-channel platforms to impart a clear big picture of design experience benchmarking, blueprints, personas, and journey maps of ideal consumers.</p>
                          </div>
                        </div>
                      </div>
                      <div class="flip-box">
                        <div class="flip-box-inner">
                          <div class="flip-box-front">
                            <h3 class="first-text">Defining Problem</h3> 
                            <img src="{% static 'assets/img/custom-soft/problem.jpeg' %}" alt="Paris">
                          </div>
                          <div class="flip-box-back">
                            <h3>Defining Problem
                            </h3>
                            <p>Apt logic and detailing is incorporated precisely with elements like design functions, features, functionalities, workflow and beyond to solve complex issues with minimal snags.</p>
                          </div>
                        </div>
                      </div>
                      <div class="flip-box">
                        <div class="flip-box-inner">
                            
                          <div class="flip-box-front">
                            
                            <h3 class="first-text">Empathise</h3> 
                            
                            <img src="{% static 'assets/img/custom-soft/define.jpg' %}" alt="Paris" >
                        
                          </div>
                          <div class="flip-box-back">
                            <h3>Empathise</h3>
                            <p>As a thriving UI UX agency, we harness the proven empathy-driven human-focused design process to craft the best digital solutions mapping the users preferences.</p>
                          </div>
                        </div>
                      </div>
                    </div><br><br><br><br>

                    {% comment %} section 3 starts here  {% endcomment %}
                    
                      <div class="container2">
                          <div class="inner-col1">
                              <h5>Our Skills</h5>
                              <h2>Working hand in hand with DEVs.</h2>
                              <p>A product is made great when all the resources working on it come together to build it. But this is not the case all the time. Generally, the designers create a sketch and send it to developers for further development. But when developers get a query in design while developing, they are not present to solve them.</p>
                          </div>
                          <div class="inner-col2">
                              <div class="img-cont1">
                                  <div class="img-inner1">
                                      <img id="img1" src="{% static 'assets/img/custom-soft/des1.jpg' %}" alt="" width="90%" height="300px" >
                                  </div>
                                  <div class="img-inner2">
                                      <img id="img2-1" src="{% static 'assets/img/custom-soft/graa.png' %}" alt="" width="110%" height="450px">
                                  </div>
                                 
                                 
                              </div>
                              <div class="img-down img-down2">
                                  <img  src="{% static 'assets/img/custom-soft/des2.jpg' %}" alt="" width="100%" height="200px">
                              </div>
                              <div>
              
                              </div>
                          </div>
              
              
              
                      </div>


                      {% comment %} tools section {% endcomment %}
                      <h1 style="text-align:center; color: #010148; font-family: spartan , san-serif; font-weight:700; margin-top: 40px;">Tools We Use</h1>

                      <div class="container-3">
                        <div class="cont3-inner">
                          <div class="i-cont">
                            <img src="{% static 'assets/img/custom-soft/illustrator.png' %}" alt="">
                          </div>
                          <div class="i-cont">
                            <img src="{% static 'assets/img/custom-soft/indesign.png' %}" alt="">
                          </div>
                          <div class="i-cont">
                            <img src="{% static 'assets/img/custom-soft/figma.png' %}" alt="">
                          </div>
                          
                          
                          
                        </div>
                        <div class="cont3-inner2">
                          <div class="i-cont">
                            <img src="{% static 'assets/img/custom-soft/ps-file.png' %}" alt="">
                          </div>
                          <div class="i-cont">
                            <img src="{% static 'assets/img/custom-soft/xd.png' %}" alt="">
                          </div>
                          <div class="i-cont">
                            <img src="{% static 'assets/img/custom-soft/xd.png' %}" alt="">
                          </div>
                          
                        </div>
                      </div>

                      {% comment %} contact form {% endcomment %}

                      <div class="nav">
                        <a href="#" class="menu-activator"><i class="ion-ios-more"></i></a>
                        <i class="ion-cube"></i>
                        <a href="#" class="white link"><i class="ion-ios-redo-outline"></i><i class="ion-ios-redo hidden"></i></a>
                      </div>
                      <div class="container">
                        <div class="inner">
                          <div class="panel panel-left">
                            <div class="panel-content">
                              <div class="image-background">
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-right">
                            <div class="panel-content">
                              <div class="form">
                                <h1>Leave a comment</h1>
                                <div class="group">      
                                  <input type="text" required>
                                  <span class="highlight"></span>
                                  <label>Your name</label>
                                </div>
                                <div class="group">      
                                  <input type="text" required>
                                  <span class="highlight"></span>
                                  <label>Your email</label>
                                </div>
                                <a class="send-btn">Send</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="menu"></div>
  <!--.boxesContainer-->






  slide
  <div class="container">
    <h2 class="slider-head">why work with us </h2>
    <section class="customer-logos slider">
        
        
        <div class="slide"><img src="{% static 'assets/img/custom-soft/happy.png' %}">
          <h5 class="head-4">Friendly People</h5>
        </div>

        <div class="slide"><img src="{% static 'assets/img/custom-soft/team.png' %}">
          <h5 class="head-4">Most skillfull</h5>
        </div>
        <div class="slide"><img src="{% static 'assets/img/custom-soft/hour-glass.png' %}">
          <h5 class="head-4">Quick Reaction</h5>
        </div>
        <div class="slide"><img src="{% static 'assets/img/custom-soft/tech-support.png' %}" >
          <h5 class="head-4">Great Support</h5>
        </div>
        <div class="slide"><img src="{% static 'assets/img/custom-soft/responsive-design.png' %}">
          <h5 class="head-4">Excellent Designs</h5>
        </div>
      
    </section>
  </div>




  .slider-head{
    text-align:center;
    color:#010148;
    font-weight:600;
    font-family: 'poppins', sans-serif;
    padding: 20px;
  }
  /* Slider */
  
  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 50%;
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }
  .head-4{
    text-align: left;
    padding-top:20px;
    color: #010148;
    font-family: "poppins","san-serif";
    font-weight: 600;

  }


  {% comment %} section web dev {% endcomment %}


   <div class="row">
          <div class="column no1" style="">
            
           <img class="img-1 image" src="{% static 'assets/img/custom-soft/graphic-des.gif' %}" alt="">
          </div>
          <div class="column column2" style="">
            <h2 class="h-col1 bus">Business Website Design</h2>
            <p class="para">Zaco info tech India provides more than website design and development. Your business, web presence and brand identity will be taken to the next level. Webcraft India will produce a custom website design that will maintain the professional image that you've worked hard to build. Webcraft is a leading provider of web site design and development solutions in the Mumbai city.</p>
          </div>
        </div>







        {% comment %} app dev carousel {% endcomment %}
        <section>
          <div class="wrapper">
            <div class="carousel owl-carousel">
               <div class="card card-1">
                <div class="image1">
                <a class="btn" href="#"
                ><img src="{% static 'assets/img/custom-soft/value.png' %}" alt="" width="30px" height="40px"></a>
                <h4 class="heading-4">Customer-Centric Enterprise Software Development</h4>
                <p class="paragraph" style="text-align:left; margin-top:20px;">Our unmatched expertise helps us develop enterprise software that seamlessly integrates with your business infrastructure. Our customized, innovative, agile, and scalable digital solutions will give you a competitive edge.</p>
              </div>
               </div>
               <div class="card card-2">
                <div class="image1">
                  <a class="btn" href="#"
                  ><img src="{% static 'assets/img/custom-soft/enterprise (2).png' %}" alt="" width="30px" height="40px"></a>
                  <h4 class="heading-4">Enterprise Software Development Services</h4>
                  <p class="paragraph" style="text-align:left; margin-top:20px;">West Agile Labs provides a wide range of enterprise software solutions and services, providing endless possibilities for your business.</p>
                </div>
               </div>
               <div class="card card-3">
                <div class="image1">
                  <a class="btn" href="#"
                  ><img src="{% static 'assets/img/custom-soft/software.png' %}" alt="" width="30px" height="40px"></a>
                  <h4 class="heading-4">Software Maintenance</h4>
                  <p class="paragraph" style="text-align:left; margin-top:20px;">Deployment is only the beginning of our services. As a result, we focus on stabilizing and optimizing the software's functionality to maintain high quality. With regular updates, your software will remain future-oriented and scalable.</p>
                </div>
               </div>
             
            </div>
          </div>
          </section>



          {% comment %} part 2 {% endcomment %}
          <section>
            <div class="wrapper">
              <div class="carousel owl-carousel">
                 <div class="card card-1">
                  <div class="image1">
                  <a class="btn" href="#"
                  ><img src="{% static 'assets/img/custom-soft/qualitative-research.png' %}" alt="" width="30px" height="40px"></a>
                  <h4 class="heading-4">Client-Facing Application Solutions</h4>
                  <p class="paragraph" style="text-align:left; margin-top:20px;">For B2B and B2C businesses, we provide unique mobile application solutions to boost competitive advantage and generate new revenue streams. From the ground up, we may create your unique application solution, or we can improve your current application with changes and integrations for more functionality, adaptability, and scalability.</p>
                </div>
                 </div>
                 <div class="card card-2">
                  <div class="image1">
                    <a class="btn" href="#"
                    ><img src="{% static 'assets/img/custom-soft/saas.png' %}" alt="" width="30px" height="40px"></a>
                    <h4 class="heading-4">SaaS Web Application Solutions</h4>
                    <p class="paragraph" style="text-align:left; margin-top:20px;">For users who require web and/or mobile access to the internet without hardware upgrades, we create Software-as-a-Service (SaaS) web applications. With custom integrations using third-party provider software, we deliver the ideal application that best suits your business needs.</p>
                  </div>
                 </div>
                 <div class="card card-3">
                  <div class="image1">
                    <a class="btn" href="#"
                    ><img src="{% static 'assets/img/custom-soft/infrastructure.png' %}" alt="" width="30px" height="40px"></a>
                    <h4 class="heading-4">IaaS Web Application Solutions</h4>
                    <p class="paragraph" style="text-align:left; margin-top:20px;">We engineer Infrastructure-as-a-Service (IaaS) web apps to provide enhanced flexibility and scalability for organizations of all different sizes and industry verticals. Delivering high-performance cloud computing capabilities, users can access their network equipment, servers, data storage centers, and more on-demand!</p>
                  </div>
                 </div>
                
              </div>
            </div>
            </section><br>

{% comment %} 
            cards ssoftware {% endcomment %}
            <div class="card-cont">
              <div class="card" style="width: 23rem">
                <a class="btn" href="#"
                  ><i
                    class="fa-solid fa-object-group fa-2x fass"
                    style="color: #ff8533"
                  ></i>
                </a>
                <div class="card-body">
                  <h5 class="card-title">USER-FRIENDLY DESIGN</h5>
                  <p class="card-text">
                    CSS will collaborate with you to create a captivating design that enhances your company and keeps users interested on your app. Customers will be able to concentrate on the value of your app if the navigation and user experience are simple and easy to comprehend in addition to having an app that is pleasing to the sight. 
                  </p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a>  -->
                </div>
              </div>
              <div class="card" style="width: 23rem">
                <a class="btn" href="#"
                  ><i class="fa-solid fa-lock fa-2x" style="color: #ff8533"></i>
                </a>
                <div class="card-body">
                  <h5 class="card-title">WEB APPLICATION SECURITY</h5>
                  <p class="card-text">
                    The best applications are built with security in mind. Depending on
                    the nature of your web app, security needs may include data
                    encryption, authentication procedures, Virtual Private Network (VPN)
                    configuration, error reporting, and dashboards for app
                    administrators. 
                  </p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a>  -->
                 
                </div>
              </div>
              <div class="card" style="width: 23rem">
                <a class="btn" href="#"
                  ><i class="fa-solid fa-pen fa-2x" style="color: #ff8533"></i
                ></a>
                <div class="card-body">
                  <h5 class="card-title">CUSTOM FOR YOUR BUSINESS</h5>
                  <p class="card-text">
                    Your app should represent the best of what your business has to
                    offer. Custom Software Solutions does not create one-size-fits all
                    templates—instead, we work with you to determine exactly what kind
                    of app will best suit your business. Once we have agreed on a
                    purpose and general layout.
                  </p>
                   <!-- <a href="#" class="btn btn-primary">Go somewhere</a>  -->
                </div>
              </div>
            </div>
           
            {% comment %} card second row {% endcomment %}
            <div class="card-cont">
              <div class="card card-demo" style="width: 23rem">
                <a class="btn" href="#"
                  ><i
                    class="fa-solid fa-object-group fa-2x fass"
                    style="color: #ff8533"
                  ></i>
                </a>
                <div class="card-body">
                  <h5 class="card-title">FAST & RELIABLE PERFORMANCE</h5>
                  <p class="card-text">
                    Custom apps are a huge opportunity to drive business and keep
                    customers engaged. However, if customers have a poor experience on
                    the app, it can reflect poorly on your business and your
                    credibility. Our app developers use sound design and development
                    practices to ensure your app is reliable, quick to load, and
                    easy-to-use.
                  </p>
                   <!-- <a href="#" class="btn btn-primary">Go somewhere</a>  -->
                  
                </div>
              </div>
              <div class="card" style="width: 23rem">
                <a class="btn" href="#"
                  ><i class="fa-solid fa-lock fa-2x" style="color: #ff8533"></i>
                </a>
                <div class="card-body">
                  <h5 class="card-title">SUPERIOR MANAGEMENT</h5>
                  <p class="card-text">
                    The app development process doesn’t end when the app is released.
                    CSS ensures you maximize your Return on Investment (ROI) through
                    ongoing consulting. We provide expertise on the user experience,
                    conversions, and digital marketing, as well as troubleshooting any
                    issues that arise. 
                  </p>
               <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  
                </div>
              </div>
              <div class="card" style="width: 23rem">
                <a class="btn" href="#"
                  ><i class="fa-solid fa-pen fa-2x" style="color: #ff8533"></i
                ></a>
                <div class="card-body">
                  <h5 class="card-title">EXPERTISE & EXPERIENCE</h5>
                  <p class="card-text">
                    Custom Software Solutions is a trusted partner throughout the app
                    development process. We have the expertise to create a customized
                    solution that will showcase your business and the experience to
                    provide advice on all stages of the app lifecycle. Our app developers have years of experience .
                  </p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a>  -->
                </div>
              </div>
            </div>



{% comment %} 
            software 1rst section {% endcomment %}

            <div class="colm1">
              <div class="img1">
                <img src="{% static 'assets/img/custom-soft/custom.jpg' %}" alt="" />
              </div>
              <div class="img2">
                <img src="{% static 'assets/img/custom-soft/custom2.jpg' %}" alt="" />
              </div>
            </div>
      
            <div class="colm2">
              <h2>
                Custom Software Development Services From Dedicated Developers With
                Vast Industry-Specific Experience
              </h2>
              <h5>
                We perform world-class custom software development services for
                startups, small-to-midsize (SMB), and enterprise-size businesses.
                Custom software development is the process of designing, creating,
                deploying and maintaining software for a specific set of users,
                functions or organizations. In contrast to commercial off-the-shelf
                software (COTS), custom software development aims at a narrowly
                defined set of requirements. 
              </h5>
            </div>



            {% comment %} tech consult {% endcomment %}

            <div class="section1-1">
              <h1>Technology is all around us, but worth is not.</h1>
              <p>Today's CIO is quickly becoming into the new corporate "rock star," as well as a proponent for change, corporate transformation, and the reality of what new technologies can achieve. Technology is now essential to guiding corporate strategy and assuring its success. However, investments in technology don't always yield the desired returns, and businesses are discovering that using technology to spur innovation is a significant problem.
  
                  Therefore, in order to construct and manage technology and large-scale transformation, organisations require a fundamentally different strategy that is better adapted to the dynamic nature of the modern business environment. <br> <br>In response, we are here. The Technology Strategy & Advisory practise at Zaco assists businesses in leveraging technology and innovation to develop their technology visions, carry out their digital transformation initiatives, and reimagine their industries in order to maximise the value of their technology investments.</p>
                  
          </div>
          <div class="section1-2">
              <img src="{% static 'assets/img/custom-soft/consulting.png' %}" alt="">
          </div>


          {% comment %} animation text {% endcomment %}

          <div class="main-container1">
            <div class="wrapper">
                <div class="static-txt">Explore Our</div>
                <ul class="dynamic-txts">
                  <li><span>Featured Capablities</span></li>
                  <li><span>Expertise</span></li>
                  <li><span>Skills</span></li>
                  <li><span>Experience</span></li>
                </ul>
              </div>


              CSS
              .main-container1{
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 200px;
                background: #f2f2f2;
              }
              h2{
                text-align:center;
              }
              .wrapper{
                display: flex;
              }
              .wrapper .static-txt{
                color: orange;
                font-size: 60px;
                font-weight: 400;
              }
              .wrapper .dynamic-txts{
                margin-left: 15px;
                height: 90px;
                line-height: 90px;
                overflow: hidden;
              }
              .dynamic-txts li{
                list-style: none;
                color: #010148;
                font-size: 60px;
                font-weight: 500;
                position: relative;
                top: 0;
                animation: slide 12s steps(4) infinite;
              }
              @keyframes slide {
                100%{
                  top: -360px;
                }
              }
              .dynamic-txts li span{
                position: relative;
                margin: 5px 0;
                line-height: 90px;
              }
              .dynamic-txts li span::after{
                content: "";
                position: absolute;
                left: 0;
                height: 100%;
                width: 100%;
                background: #f2f2f2;
                border-left: 2px solid #FC6D6D;
                animation: typing 3s steps(10) infinite;
              }
              @keyframes typing {
                40%, 60%{
                  left: calc(100% + 30px);
                }
                100%{
                  left: 0;
                }
              }
    {% comment %} 380px {% endcomment %}
    .wrapper{
      display: block;
    }
    .wrapper .static-txt{
      font-size:40px;
      text-align:center;
    }
    .dynamic-txts{
     
      text-align:center;
      margin-right:40px;
    }
    .dynamic-txts li{
      font-size:40px;
    }
    .wrapper .dynamic-txts{
      margin-left: 15px;
      height: 80px;
      line-height: 80px;
      overflow: hidden;
    }
    .dynamic-txts li span{
      position: relative;
      margin: 5px 0;
      line-height: 90px;
    }


    {% comment %} our approach  {% endcomment %}

    <h1 style="text-align:center; margin-bottom:30px; font-size:60px;">Our Approach to IT Consulting Services</h1>
    <section class="section4">
        <div class="section4-1">
            
            <h1>Identifying</h1>
            <p>The first and most important thing we do is determine what the businesses require in order to understand why they are looking for technology consulting services. What are their objectives, plans, and ambitions for ensuring proper service delivery?</p>
            
        </div>
        <div class="section4-2">
            
            <img src="{% static 'assets/img/custom-soft/identify.jpg' %}" alt="">
        </div>
    </section>
    {% comment %} section5 start here  {% endcomment %}

    <section class="section5">
        <div class="section5-1">
            <img src="{% static 'assets/img/custom-soft/scrouting.jpg' %}" alt="">
        </div>
        <div class="section5-2">
            <h1>Scrouting</h1>
            <p>After learning about their requirements and expectations, we search for a variety of strategies and methods to help us live up to their expectations.</p>
        </div>
    </section>

    {% comment %} section6 start here  {% endcomment %}
    <section class="section6">

        <div class="section6-1">
            <h1>Brainstorming</h1>
            <p>Being acquainted with the expectations of the businesses and the way of meeting those expectations now there is a need for intense Brainstorming on our ideas to deliver the right IT solution.</p>
        </div>
        <div class="section6-2">
            <img src="{% static 'assets/img/custom-soft/brain.jpg' %}" alt="">
        </div>
    </section>

    {% comment %} section7 start here  {% endcomment %}

    <section class="section7">
        <div class="section7-1">
            <img src="{% static 'assets/img/custom-soft/develop.jpg' %}" alt="">
        </div>
        <div class="section7-2">
            <h1>Developing</h1>
            <p>Being taken into consideration the resources, goals and needs now it’s time to develop the product which is definitely going to surpass the expectations.</p>
        </div>
    </section>






    {% comment %} header {% endcomment %}

    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6 align-self-center">
                <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                  <div class="row">
                    
                   
                   
                    <div class="col-lg-12">
                      <h2 style="color:#262350 !important;">We Provide <span>Ui</span> <br>&amp; UX <span>Services</span> </h2>
                    
                    <div class="col-lg-12">
                      <div class="main-green-button scroll-to-section">
                        <a href="#contact">Contact Us</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                  <img src="assets/images/banner-right-image.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  