{% comment %} {% extends 'header.html' %}
{% load static %}
{% block form %}




    
<body>
<section id="it-nw-cta" class="it-nw-cta-section" data-background="{% static 'assets/new-web-img/contact-img.jpg' %}">
    <div class="container">
      <div class="it-nw-cta-content d-flex justify-content-between">
        <div class="it-nw-cta-text headline wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <h2 style="color:white !important;">Get In Touch. With Our
          Experts.</h2>
        </div>
        <div class="it-nw-cta-info-btn d-flex align-items-center position-relative wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
          <span class="it-nw-cta-arrow position-absolute"><img src="assets/img/its-2/logo/arrow2.png" alt=""></span>
          <div class="it-nw-cta-info d-flex align-items-center">
            <div class="it-nw-cta-icon">
              <i class="fas fa-phone"></i>
            </div>
            <div class="it-nw-cta-text headline">
              <span style="color: white !important">Contact Us</span>
              <h3 style="color:white !important;">{{ CONTACT_PHONE }}</h3>
            </div>
          </div>
          <div class="it-nw-btn text-center">
            <a class="d-flex justify-content-center align-items-center" href="#">Learn More <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>


    
</body>



{% endblock form %} {% endcomment %}