{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9EBQ1RKFL4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9EBQ1RKFL4');
</script>



<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MLQ8MTVW');</script>
    <!-- End Google Tag Manager -->


    <meta charset="UTF-8">
    {% block meta %}{% endblock meta %}
    {% block head %}{% endblock head %}
    <!-- <title>Zaco Info Tech</title> -->
    

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'assets/z_img/ZIT_fav.png'%}" type="image/x-icon">
    <!-- <link rel="icon" href="{% static 'assets/z_img/ZIT_fav.png'%}" type="image/x-icon"> -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery.fancybox.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/odometer-theme-default.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon-7.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/rs6.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/side-demo.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/software.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/business-1.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery.mCustomScrollbar.min.css'%}">
    <!-- <link rel="stylesheet" href="{% static 'assets/css/it-source.css'%}"> -->
    <link rel="stylesheet" href="{% static 'assets/css/it-source-2.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/smm.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/web-application.css'%}">
    
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Odometer -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/odometer.js"></script>

    {% comment %} web devellopment {% endcomment %}
<link rel="stylesheet" href="{% static 'assets/new-web-css/soft-1.css' %}">

{% comment %} app development {% endcomment %}
<link rel="stylesheet" href="{% static 'assets/app-css/lightbox.css' %}">
<link rel="stylesheet" href="{% static 'assets/app-css/my-app.css' %}">

{% comment %} digital marketing {% endcomment %}
<link rel="stylesheet" href="{% static 'assets/new-dg-css/digital-s.css' %}">

{% comment %} ui ux  {% endcomment %}
<link rel="stylesheet" href="{% static 'assets/new-ui-css/ui-u.css' %}">

{% comment %} technical consulting  {% endcomment %}
<link rel="stylesheet" href="{% static 'assets/new-tech-css/consulting.css' %}">

{% comment %} frontend {% endcomment %}
<link rel="stylesheet" href="{% static 'assets/technologies/tech.css' %}"> 

{% comment %} backend {% endcomment %}
<link rel="stylesheet" href="{% static 'assets/technologies/tech.css' %}"> 

{% comment %} asset mgmt {% endcomment %}
<link rel="stylesheet" href="{% static 'assets/asset-mgmt-css/asset-management.css' %}">

{% comment %} software services {% endcomment %}
<link rel="stylesheet" href="{% static 'assets/new-software-css/software1.css' %}">


   
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16841900284">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16841900284');
</script>
</head>


<body class="dia-home">
<!--

    <div class="up">
        <a href="#" id="scrollup" class="dia-scrollup text-center"><i class="fas fa-angle-up"></i></a>
    </div>
-->
    {% include "_messages.html" %}

    <!-- Event snippet for Phone Call conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->

    <!-- Meta Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '855647042925426');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=855647042925426&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->

    <!-- Start of header section
        ============================================= -->
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLQ8MTVW"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="county-outter">

		{% include 'top.html' %}
	</div>
    <header id="dia-header" class="dia-main-header">
        <div class="container">

            <!-- desktop menu -->
            <div class="dia-main-header-content clearfix">
                <div class="dia-logo float-left">
                    <a href="/"><img src="{%static 'assets\z_img\ZIT_logo2-250x70.png'%}" alt=""></a>
                </div>
                <div class="dia-main-menu-item float-right">
                    <nav class="dia-main-navigation  clearfix ul-li">
                        <ul id="main-nav" class="navbar-nav text-capitalize clearfix">
                            <li class="side-demo position-relative"><a href="/">Home</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li class="dropdown"><a href="{% url 'services' %}">Service</a>
                                <ul class="dropdown-menu clearfix">
                                    <li><a href="{% url 'web-development' %}">Web Development</a></li>
                                    <li><a href="{% url 'application-development' %}">App Development</a></li>
                                    <li><a href="{% url 'digital-marketing' %}">Digital Marketing</a></li>
                                    <li><a href="{% url 'ui-ux' %}">UI & UX</a></li>
                                    <li><a href="{% url 'technical-consultation' %}">Technical Consultation</a></li>
                                    <li><a href="{% url 'custom-software' %}">Custom Software Solutions</a></li>
                                    <!-- <li class="hoveMe"><a href="{% url 'hosting' %}">Hosting Solutions</a>                                        
                                        <ul class="hoveDiv">
                                            <li><a style="font-size: 13px;" href="{% url 'web_hosting_plus' %}">Shared Hosting Services</a></li>
                                            <li><a style="font-size: 13px;" href="{% url 'faq' %}">FAQs</a></li>
                                        </ul>                           
                                    </li> -->
                                </ul>
                            </li>
                            {% comment %} <li><a href="{% url 'solutions' %}">Solutions</a></li> {% endcomment %}
                            <li class="dropdown"><a href="{% url 'technologies' %}">Technologies</a>
                                <ul class="dropdown-menu clearfix">
                                    <li><a href="{% url 'frontend' %}">Frontend</a></li>
                                    <li><a href="{% url 'backend' %}">Backend</a></li>
                                    <li><a href="{% url 'database' %}">Database</a></li>    
                                </ul>
                            </li>

                            <li class="dropdown"><a href="{% url 'hosting' %}">Hosting</a>
                                <ul class="dropdown-menu clearfix">
                                    <!-- <li><a href="{% url 'faq' %}">FAQs</a></li> -->
                                    <li class="hoveMe"><a href="{% url 'shared_hosting' %}">Shared Hosting Solutions</a>
                                        <ul class="hoveDiv">
                                            <li><a style="font-size: 13px;" href="{% url 'web_hosting' %}">Web Hosting</a></li>
                                            <li><a style="font-size: 13px;" href="{% url 'web_hosting_plus' %}">Web Hosting Plus</a></li>
                                        </ul>
                                    </li>
                                      
                                </ul>
                            </li>

                            <li class="dropdown"><a href="{% url 'asset-management' %}">Solutions</a>
                                <ul class="dropdown-menu clearfix">
                                    <li><a href="{% url 'asset-management' %}">Asset Management</a></li>
                                    {% comment %} <li><a href="{% url 'backend' %}">Backend</a></li>
                                    <li><a href="{% url 'database' %}">Database</a></li> {% endcomment %}
                                    
                                </ul>
                            </li>

                            {% comment %} <li><a href="{% url 'technologies' %}">Technologies</a></li> {% endcomment %}
                          
                            <li><a href="{% url 'contact' %}">Contact</a></li>

                            {% comment %} <li class="dropdown">
                                <a href="#">Blog</a>
                                <ul class="dropdown-menu clearfix">
                                    <li><a href="blog.html">Blog Page</a></li>
                                    <li><a href="blog-single.html">Blog Details</a></li>
                                </ul>
                            </li> {% endcomment %}
                        </ul>
                    </nav>

               

                </div>
            </div>
            <!-- /desktop menu -->

            <!-- mobile-menu -->
            <div class="dia-mobile_menu relative-position">
                <div class="dia-mobile_menu_button dia-open_mobile_menu">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="dia-mobile_menu_wrap">
                    <div class="mobile_menu_overlay dia-open_mobile_menu"></div>
                    <div class="dia-mobile_menu_content">
                        <div class="dia-mobile_menu_close dia-open_mobile_menu">
                            <i class="far fa-times-circle"></i>
                        </div>
                        <div class="m-brand-logo text-center">
                            <a href="!#"><img src="{% static 'assets\z_img\ZIT_logo2-250x70.png' %}" alt=""></a>
                        </div>
                        <nav class="dia-mobile-main-navigation  clearfix ul-li">
                            <ul id="m-main-nav" class="navbar-nav text-capitalize clearfix">
                                <li><a href="/">Home</a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                        <li class=" dropdown"><a href="{% url 'services' %}">Service</a>
                            <ul class=" dropdown-menu clearfix">
                                <li><a href="{% url 'web-development' %}">Web Development</a></li>
                                <li><a href="{% url 'application-development' %}">App Development</a></li>
                                <li><a href="{% url 'digital-marketing' %}">Digital Marketing</a></li>
                                <li><a href="{% url 'ui-ux' %}">UI & UX</a></li>
                                <li><a href="{% url 'technical-consultation' %}">Technical Consultation</a></li>
                                <li><a href="{% url 'custom-software' %}">Custom Software Solutions</a></li>
                            </ul>
                        </li>
                                <li class=" dropdown"><a href="{% url 'technologies' %}">Technologies</a>
                                    <ul class="dropdown-menu clearfix">
                                        <li><a href="{% url 'frontend' %}">Frontend</a></li>
                                        <li><a href="{% url 'backend' %}">Backend</a></li>
                                        <li><a href="{% url 'database' %}">Database</a></li>    
                                    </ul>
                                
                                </li>
                                <li class=" dropdown"><a href="{% url 'hosting' %}">Hosting</a>
                                    <ul class="dropdown-menu clearfix">
                                        <li><a href="{% url 'shared_hosting' %}">Shared Hosting Solutions</a></li>
                                        <li><a href="{% url 'web_hosting' %}">Web Hosting</a></li>
                                        <li><a href="{% url 'web_hosting_plus' %}">Web Hosting Plus</a></li>    
                                    </ul>                                
                                </li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                {% comment %} <li class="dropdown">
                                    <a href="#">Blog</a>
                                    <ul class="dropdown-menu clearfix">
                                        <li><a href="blog">Blog Page</a></li>
                                        <li><a href="blog-single.html">Blog Details</a></li>
                                    </ul>
                                </li> {% endcomment %}
                            </ul>
                        </nav>
                        <div class="county-inner">
                            {% include "topmob.html" %}
                                                    </div>
                    </div>
                </div>
                <!-- /mobile-menu -->
            </div>
        </div>
        <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "Organization",
              "name": "Zaco Information Technology Private Limited",
              "alternateName": "Zaco",
              "url": "https://zacoinfotech.com/",
              "logo": "https://zacoinfotech.com/static/assets/z_img/ZIT_logo2-250x70.png",
              "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "{{ CONTACT_PHONE }}",
                "contactType": "customer service",
                "contactOption": ["TollFree","HearingImpairedSupported"],
                "areaServed": ["IN","US","GB","AE","CA","AU","AT","BS","BE","BY","BD","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","KH","CM","CV","CF","TD","CL","CN","CO","CR","HR","CU","CZ","CD","DK","DM","DO","EG","GR","GL","HK","HU","IS","ID","JO","JP","JE","KW","MV","MY","MX","NP","NL","NC","NZ","NG","OM","PY","PH","PL","PT","PR","QA","CG","ZA","ES","LK","SE","CH","TH","TR","VI","UG","UA","UM","UY","VN","002","015","142","145","034","035","030","143","155","039","154","151","150","419"],
                "availableLanguage": ["en","Hindi","Marathi","Urdu","Arabic","Telugu","Tamil","Bengali"]
              },
              "sameAs": [
                "https://www.facebook.com/zacoinfotech/",
                "https://twitter.com/ZacoInfoTech",
                "https://www.instagram.com/zacoinfotech/",
                "https://www.linkedin.com/company/zaco-information-technology-pvt-ltd/"
              ]
            }
            </script>
    </header>
    <!-- End of header section
        ============================================= -->



        

    {% block body_about %}{% endblock body_about %}
   
    
    
    <!-- start of Footer section ============================================= -->

    <footer class="footer12">

        <div class="container">

            <div class="row">
                <div class="col-md-3">
                    <a href="/" class="footer-site-logo"><img src="{%static 'assets\z_img\ZIT_logo2-250x70.png'%}"
                            alt=""></a>
                    <p class="footerp">Zaco Information Technology - A leading offshore IT company offers Software
                        solutions, Web & Mobile App development and Digital marketing services all over the globe. </p>
                </div>
                <div class="col-md-2 ml-auto">
                    <h3>Useful Links</h3>
                    <ul class="list-unstyled links">
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url 'about' %}">About us</a></li>
                        <li><a href="{% url 'services' %}">Services</a></li>
                        <li><a href="{% url 'solutions' %}">Solutions</a></li>
                        <li><a href="{% url 'technologies' %}">Technologies</a></li>
                        <li><a href="{% url 'contact' %}">Contact us</a></li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-2 ml-auto">
                    <h3>Services</h3>
                    <ul class="list-unstyled links">
                        <li><a href="{% url 'custom-software' %}">Software Solutions</a></li>
                        <li><a href="{% url 'web-development' %}">Web Development</a></li>
                        <li><a href="{% url 'digital-marketing' %}">Digital Marketing</a></li>
                        <li><a href="{% url 'application-development' %}">Mobile App Development</a></li>
                        {% comment %} <li><a href="#">Cloud Solutions</a></li> {% endcomment %}
                    </ul>
                </div>
                <div class="col-md-4 ml-auto">
                    <h3>Contact</h3>
                    <ul class="list-unstyled social links">
                        {% comment %} <li><span class="fas fa-map-marker-alt"></span><a class=" lightbox-image overlay-box"
                                href="https://www.google.com/maps/search/?api=1&query=Zaco+Computers+Pvt.+Ltd.+mumbai">3,
                                DLH Park, Goregaon (W), Mumbai.</a></li>
                        <li><span class="fas fa-phone"></span><a href="tel:{{ CONTACT_PHONE_TEL }}">Call us</a></li>
                        <li><span class="fas fa-envelope"></span><a href="mailto:info@zacoinfotech.com">E-mail us</a>
                        </li> {% endcomment %}
                        <div class="footersocial text-md-left">
                            <a href="https://facebook.com/zacoinfotech/"><i class="fab fa-facebook-f f-2xl"></i></a>
                            <a href="https://x.com/ZacoInfoTech/"><i class="fab fa-twitter"></i></a>
                            {% comment %} <a href="#"><i class="fab fa-youtube"></i></a> {% endcomment %}
                            <a href="https://www.instagram.com/zacoinfotech/"><i class="fab  fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/zaco-information-technology-pvt-ltd/"><i class="fab  fa-linkedin "></i></a>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 ">
                    <div class="line"></div>
                </div>
            </div>
            <div class="row partner-wrap">
                <div class="col-md-12">
                    <div class="row align-items-center">
                        <div class="col-md-12 text-center">
                            <p class="partner-name mb-0">
                                Our Offices :
                                <a href="#">Mumbai</a>
                                <a href="#">Delhi</a>
                                <a href="#">Chennai</a>
                                <a href="#">Kolkata</a>
                                <a href="#">Hyderabad</a>
                                <a href="#">Bengaluru</a>
                                <a href="#">U.A.E</a>
                                <a href="#">Canada</a>
                            </p>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="line"></div>
                        </div>
                        <div class="col-lg-8  mt-3">
                            <p class="footerp">Copyright ©2022 All rights reserved | Zaco Information Technology </p>
                        </div>
                        <div class="col-lg-4 text-right mt-3">
                            <p class="footerp"><a href={% url 'terms_conditions' %}>Terms & Conditions</a> / <a href="{% url 'faq' %}">FAQs</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        </div>
    </footer>
    <!-- End of Footer  section ============================================= -->

    <!-- JS library -->
    <script src="{% static 'assets/js/jquery.js'%}"></script>
    <script src="{% static 'assets/js/popper.min.js'%}"></script>
    <script src="{% static 'assets/js/appear.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/wow.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.fancybox.js'%}"></script>
    <script src="{% static 'assets/js/tilt.jquery.min.js'%}"></script>
    <script src="{% static 'assets/js/owl.js'%}"></script>
    <script src="{% static 'assets/js/aos.js'%}"></script>
    <script src="{% static 'assets/js/slick.js'%}"></script>
    <script src="{% static 'assets/js/jquery.barfiller.js'%}"></script>
    <script src="{% static 'assets/js/typer-new.js'%}"></script>
    <script src="{% static 'assets/js/odometer.js'%}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
    <script src="{% static 'assets/js/parallax-scroll.js'%}"></script>
    <script src="{% static 'assets/js/rs6.min.js'%}"></script>
    <script src="{% static 'assets/js/side-demo.js'%}"></script>
    <script src="{% static 'assets/js/script.js'%}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js'%}"></script>
    <script src="{% static 'assets/js/waypoints.min.js'%}"></script>
    <script src="{% static 'assets/js/rbtools.min.js'%}"></script>
    <script src="{% static 'assets/js/business-1.js'%}"></script>
    <script src="{% static 'assets/js/smm.js'%}"></script>
    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> {% endcomment %}


    <script>
        var revapi26,
            tpj;

        function revinit_revslider261() {
            jQuery(function () {
                tpj = jQuery;
                revapi26 = tpj("#rev_slider_26_1");
                if (revapi26 == undefined || revapi26.revolution == undefined) {
                    revslider_showDoubleJqueryError("rev_slider_26_1");
                } else {
                    revapi26.revolution({
                        DPR: "dpr",
                        sliderLayout: "fullwidth",
                        visibilityLevels: "1240,1024,778,480",
                        gridwidth: "940,1024,778,480",
                        gridheight: "940,768,960,720",
                        perspective: 600,
                        perspectiveType: "global",
                        editorheight: "940,768,960,720",
                        responsiveLevels: "1240,1024,778,480",
                        ajaxUrl: "https://html.themexriver.com/nayeem/wp-admin/admin-ajax.php",
                        ajaxNonce: "88dd63b4b0",
                        progressBar: {
                            disableProgressBar: true
                        },
                        navigation: {
                            onHoverStop: false
                        },
                        fallbacks: {
                            allowHTML5AutoPlayOnAndroid: true
                        },
                    });
                }

            });
        }
        var once_revslider261 = false;
        jQuery(window).on("load", function () {
            revinit_revslider261();
        });




        $(document).ready(function(){
            
            // use keyup event on email field
            $("#email").keyup(function(){
                if(validateEmail("#email")){
                    // if the email is validated
                    // set input email border green
                    $("#email").css("border","2px solid green");
                    // and set label 
                    $("#emailMsg").html("");
                }else{
                    // if the email is not validated
                    // set border red
                    $("#email").css("border","2px solid red");
                    $("#emailMsg").html("<p class='text-danger '>Please Enter Valid Email</p>");
                }
                //buttonState();
            });

            // use keyup event on email field
            $("#newsmail").keyup(function(){
                if(validateEmail("#newsmail")){
                    // if the email is validated
                    // set input email border green
                    $("#newsmail").css("border","2px solid green");
                    // and set label 
                    $("#newsmailMsg").html("");
                }else{
                    // if the email is not validated
                    // set border red
                    $("#newsmail").css("border","2px solid red");
                    $("#newsmailMsg").html("<span class='text-danger'>Please Enter Valid Email</span>");
                }
                //buttonState();
            });
           
        });

        function validateEmail(abc){
            // get value of input email
            var email=$(abc).val();
            // use reular expression
             var reg = /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
             if(reg.test(email)){
                 return true;
             }else{
                 return false;
             }
        }


    </script>

</body>

</html>