{% extends 'header.html' %}
{% load static %}

{% block meta %}
<title>Zaco Info Tech | Services</title>
<meta name="description" content="">
{% endblock meta %}

{% block body_about %}

<body class="saas-classic">

    <!-- Start of Banner section
        ============================================= -->
    <section id="dia-banner" class="dia-banner-section position-relative">
        <div class="banner-side-img banner-img1 position-absolute"><img src="{% static 'assets/img/about/ns6.png' %}"
                alt=""></div>
        <div class="banner-side-img banner-img2 position-absolute"><img
                src="{% static 'assets/img/about/servicebanner.png' %}" alt="">
        </div>
        <div class="container">
            <div class="dia-banner-content dia-headline pera-content">
                <h1 class="cd-headline clip is-full-width">Best Custom Software Solutions.
                    <br>
                </h1>
                <h5 class="bannerhead">Power up your business transformation with innovative and cost-effective software
                    solutions.
                    </p>
                    <div class="dia-banner-btn d-flex">

                        <div class="dia-abt-btn text-center d-inline-block">
                            <a href="contact">Get a Quote</a>
                        </div>
                    </div>
            </div>
        </div>

    </section>
    <!-- End of Banner section============================================= -->
    <!-- Service Section -->
    <section class="pr1-work-section">
        <span class="pr1-work-shape-1" data-parallax='{"y": 120}'><img
                src="{% static 'assets/img/business-1/work/shape-01.png' %}" alt=""></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pr1-title-area wow fadeInLeft">
                        <div class="pr1-headline">
                            <h2>Solutions We Deliver</h2>
                        </div>
                        <div class="pr1-pera-txt">
                            <p>We will help you improve your business operations with an optimal service or assist you
                                in launching a product that would win customers fast.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="service" class="pr1-work-content">
                <span class="pr1-work-shape-2" data-parallax='{"scale": 1.2}'><img
                        src="{% static 'assets/img/business-1/work/shape-02.png'%}" alt=""></span>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="pr1-work-column wow fadeInUp">
                            <div class="pr1-icon-container">
                                <i class="flaticon-accounting"></i>
                            </div>
                            <div class="pr1-headline">
                                <a href="#">
                                    <h5>Custom Software Solutions
                                    </h5>
                                </a>
                            </div>
                            <div class="pr1-pera-txt">
                                <p class="ptext"> Zaco infotech experts offer custom tailored software solution services
                                    to help you grow your business with determination and efficiency.
                                    As a leading software development company, we will work closely with you to
                                    transform, scale and create competitive advantages.</p>
                            </div>
                            <div class="pr1-readmore-btn">
                                <a href="custom-software">Learn more <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="pr1-work-column wow fadeInUp" data-wow-delay="0.1s">
                            <div class="pr1-icon-container">
                                <i class="flaticon-analysis"></i>
                            </div>
                            <div class="pr1-headline">
                                <a href="#">
                                    <h5>UI/UX Design
                                    </h5>
                                </a>
                            </div>
                            <div class="pr1-pera-txt">
                                <p class="ptext">
                                    Zaco infotech is a top web and mobile app designing firm that can transform your
                                    brilliant ideas into meaningful experiences.
                                    From ideation through information architecture, visual identity, and user experience
                                    design, get in touch with Zaco infotech.
                                </p>
                            </div>
                            <div class="pr1-readmore-btn">
                                <a href="ui-ux">Learn more <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="pr1-work-column wow fadeInUp" data-wow-delay="0.2s">
                            <div class="pr1-icon-container">
                                <i class="flaticon-financial-database"></i>
                            </div>
                            <div class="pr1-headline">
                                <a href="#">
                                    <h5>Web Development</h5>
                                </a>
                            </div>
                            <div class="pr1-pera-txt">
                                <p class="ptext">Zaco infotech does it all by covering a wide spectrum of web solutions
                                    and frameworks,
                                    whether it's creating a web presence for your company, an information hub for your
                                    business, or empowering your apps
                                    through backend.</p>
                            </div><br>
                            <div class="pr1-readmore-btn">
                                <a href="web-development">Learn more <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="pr1-work-column wow fadeInUp" data-wow-delay="0.3s">
                            <div class="pr1-icon-container">
                                <i class="flaticon-online-registration"></i>
                            </div>
                            <div class="pr1-headline">
                                <a href="#">
                                    <h5>Mobile App Development</h5>
                                </a>
                            </div>
                            <div class="pr1-pera-txt">
                                <p class="ptext">Zaco infotech is a leading mobile app development company whether B2B
                                    or B2E apps for enterprises, small businesses and startups, we have a proven track
                                    record of delivering high-impact,
                                    results-oriented and engaging mobile app development services.</p>
                                {% comment %} <p> renowned for native Android app development, native iOS appdevelopment
                                    services to create next-generation
                                    mobile app at using the latest technology stack. </p> {% endcomment %}
                            </div>
                            <div class="pr1-readmore-btn">
                                <a href="application-development">Learn more <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="pr1-work-column wow fadeInUp" data-wow-delay="0.4s">
                            <div class="pr1-icon-container">
                                <i class="flaticon-project-management"></i>
                            </div>
                            <div class="pr1-headline">
                                <a href="#">
                                    <h5>Digital Marketing</h5>
                                </a>
                            </div>
                            <div class="pr1-pera-txt">
                                <p class="ptext">You can see the impact of our Digital marketing solutions in the
                                    success of our clients. With digital marketing,
                                    your business can expand into new areas, hire Zaco team, and achieve tremendous
                                    accomplishments in your industry.

                                </p>
                            </div><br>
                            <div class="pr1-readmore-btn">
                                <a href="digital-marketing">Learn more <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="pr1-work-column wow fadeInUp" data-wow-delay="0.5s">
                            <div class="pr1-icon-container">
                                <i class="flaticon-quality"></i>
                            </div>
                            <div class="pr1-headline">
                                <a href="#">
                                    <h5>Technology Consultant</h5>
                                </a>
                            </div>
                            <div class="pr1-pera-txt">
                                <p class="ptext">Zaco infotech technology approach and consulting practice helps
                                    organizations leverage technology and shape their technology visions, execute their
                                    digital transformation journeys and reinvent their businesses to create exceptional
                                    and sustainable value. <p>
                            </div>
                            <div class="pr1-readmore-btn">
                                <a href="technical-consultation">Learn more <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service Section End -->

    <!-- Business Section -->
    <section class="pr1-business-section" data-background="{% static 'assets/img/business-1/business/bg.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="pr1-business-left wow fadeInLeft">
                        <span class="pr1-business-shape-1"><img
                                src="{% static 'assets/img/business-1/business/shape-01.png'%}" alt=""></span>
                        <div class="pr1-img-bg">
                            <div class="pr1-img-container">
                                <img src="{% static 'assets/img/about/servicestech2.png'%}" alt="">
                                <div class="pr1-img-container pr1-img-2">
                                    <img src="{% static 'assets/img/about/servicestech.png'%}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="pr1-business-right">
                        <div class="pr1-title-area2 wow fadeInDown">
                            <div class="pr1-headline">
                                <h2>We are the only right solution provider</h2>
                            </div>
                            <div class="pr1-business-txt pr1-pera-txt wow fadeInUp">
                                <p>We have Years of experience. We offer Best Custom Software Solutions.</p>
                            </div>
                            <div class="pr1-business-content">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="pr1-business-column wow fadeInUp" data-wow-delay="0.2s">
                                            <div class="pr1-icon-container">
                                                <i class="flaticon-consultant"></i>
                                            </div>
                                            <div class="pr1-headline">
                                                <a href="#">
                                                    <h5>Custom Software Solutions</h5>
                                                </a>
                                            </div>
                                            <div class="pr1-pera-txt">
                                                <p class="ptext">Our experts will find a custom solution that fits your ideas to build a successful software, your business need. </p>
                                            </div>
                                            <div class="pr1-readmore-btn">
                                                <a href="#">Learn more <i class="fas fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="pr1-business-column wow fadeInUp" data-wow-delay="0.4s">
                                            <div class="pr1-icon-container">
                                                <i class="flaticon-hands-and-gestures"></i>
                                            </div>
                                            <div class="pr1-headline">
                                                <a href="#">
                                                    <h5>Technical Consultancy</h5>
                                                </a>
                                            </div>
                                            <div class="pr1-pera-txt">
                                                <p class="ptext">Our technology strategy and consulting practice helps
                                                    design and realize exceptional business value from technology.</p>
                                            </div>
                                            <div class="pr1-readmore-btn">
                                                <a href="#">Learn more <i class="fas fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Business Section End -->
</body>
{% include 'newsletter.html' %}
{% endblock body_about %}